{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{% if title is defined %}{{ title }} / {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		{# <style>{{ source('css/uband.css') }}</style> #}
		<link rel="stylesheet" href="/css/uband.css"/>
	</head>
	
	<body class="{{ bodyClass }}">
		<div id="container">
			<header id="header" class="restrict-column">
				<h1><a href="{{ siteUrl }}" class="_revealOnHover _revealOnHome">R<span class="hidden">hyme</span> P<span class="hidden">aysage</span></a></h1>
			</header>
			{% block content %}
			{% endblock %}
		</div>{# /#container #}
	</body>
</html>
