<nav class="secondary">
	<ul class="secondary-nav-list">
		<li class="secondary-nav-item _activeOn all">
			<a href="all.html" class="trigger">All</a>
			{% if not craft.request.isMobileBrowser %}
			<video class="category-highlight _fadeOnSiblingTriggerHover" autoplay loop>
				<source src="/img/key-ani.mp4" type="video/mp4" />
			</video>
			{% endif %}
		</li>
		<li class="secondary-nav-item _activeOn essays">
			<a href="essays.html" class="trigger">Essays</a>
			{% if not craft.request.isMobileBrowser %}
			<video class="category-highlight _fadeOnSiblingTriggerHover" autoplay loop>
				<source src="/img/essays-ani.mp4" type="video/mp4" />
			</video>
			{% endif %}
		</li>
		<li class="secondary-nav-item _activeOn projects">
			<a href="projects.html" class="trigger">Projects</a>
			{% if not craft.request.isMobileBrowser %}
			<video class="category-highlight _fadeOnSiblingTriggerHover" autoplay loop>
				<source src="/img/projects-ani.mp4" type="video/mp4" />
			</video>
			{% endif %}
		</li>
		<li class="secondary-nav-item _activeOn landscapes">
			<a href="landscapes.html" class="trigger">Landscapes</a>
			{% if not craft.request.isMobileBrowser %}
			<video class="category-highlight _fadeOnSiblingTriggerHover" autoplay loop>
				<source src="/img/landscapes-ani.mp4" type="video/mp4" />
			</video>
			{% endif %}
		</li>
		<li class="secondary-nav-item _activeOn backyards">
			<a href="backyards.html" class="trigger">Backyards</a>
			{% if not craft.request.isMobileBrowser %}
			<video class="category-highlight _fadeOnSiblingTriggerHover" autoplay loop>
				<source src="/img/backyards-ani.mp4" type="video/mp4" />
			</video>
			{% endif %}
		</li>
	</ul>
</nav>
