<nav class="secondary">
	<ul class="secondary-nav-list">
		<li class="secondary-nav-item _invisibleOnMobile _activeOn all">
			<a href="all.html" class="trigger">All</a>
			<div class="category-highlight _fadeOnSiblingTriggerHover _hideOnMobile">
				<img src="/img/key-ani.gif" />
			</div>
		</li>
		<li class="secondary-nav-item _invisibleOnMobile _activeOn essays">
			<a href="essays.html" class="trigger">Essays</a>
			<div class="category-highlight _fadeOnSiblingTriggerHover _hideOnMobile">
				<img src="/img/essays-ani.gif" />
			</div>
		</li>
		<li class="secondary-nav-item _invisibleOnMobile _activeOn projects">
			<a href="projects.html" class="trigger">Projects</a>
			<div class="category-highlight _fadeOnSiblingTriggerHover _hideOnMobile">
				<img src="/img/projects-ani.gif" />
			</div>
		</li>
		<li class="secondary-nav-item _invisibleOnMobile _activeOn landscapes">
			<a href="landscapes.html" class="trigger">Landscapes</a>
			<div class="category-highlight _fadeOnSiblingTriggerHover _hideOnMobile">
				<img src="/img/landscapes-ani.gif" />
			</div>
		</li>
		<li class="secondary-nav-item _invisibleOnMobile _activeOn backyards">
			<a href="backyards.html" class="trigger">Backyards</a>
			<div class="category-highlight _fadeOnSiblingTriggerHover _hideOnMobile">
				<img src="/img/backyards-ani.gif" />
			</div>
		</li>
	</ul>
</nav>
