{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set bodyClass = "content" %}

{% block content %}
	{% include "_nav-binary-home" %}
	<div class="content-start">
		<main id="content" role="main">
			<div class="body">
				<h2 class="text-title">Campaigns and Quarters</h2>
				<p class="text-subtitle">108 Serious Proposals for Settlement Change</h2>
				
				<div class="body-main">
					<p>Nowadays, we live very neatly as nature asks, once again paying heed to the motion of the seasons; never eating an apple in April, indeed not eating anything but turnips throughout the winter. Our humility before nature is such that we abandon a pretense to meet it in the shape of woman, in a temple somewhere; and instead walk mindfully in it, with no hats on. But when humility descends in one quarter, it lifts somewhere else; and we find somewhere else to be proud.</p>
					<p>Each of these proposals proceeds from the assumption that people at large are essentially an army; and for advantage might be marched back and forth. We do this as befits nature; and being that we cannot address nature, or ask it a question, we generals are only holding forth across our sunlit table, and trying to persuade each other.</p>
					<p>As our passions run over the land, they steadily cut closer to our own desires. They saw out lines and mold bulging reliefs. We find that these contours in no way speak to us of conservation, of letting alone. Where we dwell most quietly we still pace paths, or strike up pillars. In the great chain of being we fall neatly between ants and beavers — apt to spend a few years at a common war and a few years on our own small, pottering battles.</p>
					<div class="container inner-bounded">
						<h3 class="figure-title">Single Inner-Bounded</h3>
						<div class="row single">
							<figure>
								<img
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_innerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
						</div>
					</div>
					<div class="container inner-bounded">
						<h3 class="figure-title">Two Across Inner-Bounded</h3>
						<div class="row two-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_innerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_innerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
						</div>
					</div>
					<div class="container inner-bounded">
						<h3 class="figure-title">Two Across Inner-Bounded (common caption)</h3>
						<div class="row two-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_innerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_innerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>
					<p>I would like to lead a few little incursions into our settlements, and lay out new lines. As following:</p>
					
					<h3>ST. LUCIA</h3>
					<p>All public light fixtures are replaced with agglomerations of candle-holders. Citizens pay a yearlong “wax tax,” compelled to continually donate candles to neighborhood distribution centers in order to keep the streets lit. Local children (ages 6-14) are gainfully employed in maintaining the candles; girls march in processions of ten, carefully lighting them, while boys stand by in formation, water-pails at the ready. </p>
					<div class="container outer-bounded">
						<h3 class="figure-title">Single Outer-Bounded</h3>
						<div class="row single">
							<figure>
								<img
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_outerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
						</div>
					</div>
					<div class="container outer-bounded">
						<h3 class="figure-title">Two Across Outer-Bounded (common caption)</h3>
						<div class="row two-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_outerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_outerBounded - (1 * width_marginDesktop)) / 2 }}px, .5 * (100vw - {{ width_marginMobile * 3}}px)"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>
					<div class="container outer-bounded">
						<h3 class="figure-title">Three Across Outer-Bounded (common caption)</h3>
						<div class="row three-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_outerBounded - (2 * width_marginDesktop)) / 3 }}px, .3333333 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_outerBounded - (2 * width_marginDesktop)) / 3 }}px, .3333333 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r3 }}px) {{ (width_outerBounded - (2 * width_marginDesktop)) / 3 }}px, .3333333 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>
					
					<h3>TULIPOMANIA</h3>
					<p>Portable shelters are issued by the government, offered to anyone who might want them. There are forty-something distinct lines available, each containing between seven and ten cosmetic variations on a basic model (something like jockey silks). Outside of this readily available array, there are any number of special editions, offered either for a limited time through rehabilitated warehouse/storefronts — or as rewards for secretly witnessed meritorious acts — or as rewards for any chosen random action (28th person through door X on 28th Street on the 28th of March.) The scarcity and variability of these items propels a furor: citizens constantly exchange shelters, barter for one another's shelters, pull around their own shelters (now to display them, now to obscure them). Permanent dwellings are largely abandoned; seen from above, colorful shells constantly shuffle themselves in the streets and open spaces.</p>
					<div class="container unbounded">
						<h3 class="figure-title">Single Unbounded</h3>
						<div class="row single">
							<figure>
								<img
									sizes="	(min-width: {{ respond_r3 }}) {{ width_outerBounded }}, 100vw - {{ width_marginMobile }}"
									srcset="	/img/placeholders/16-9.svg 375w,
									        	/img/placeholders/16-9.svg 480w,
												/img/placeholders/16-9.svg 768w"
									src="		/img/placeholders/16-9.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
						</div>
					</div>

					<div class="container max-bounded">
						<h3 class="figure-title">Four Across Max-Bounded (common caption)</h3>
						<div class="row four-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>

					<div class="container max-bounded">
						<h3 class="figure-title">Four Across Max-Bounded Stacked(common caption)</h3>
						<div class="row four-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
						</div>
						<div class="row four-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
						</div>
						<div class="row four-across">
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<figure>
								<img
									sizes="(min-width: {{ respond_r5 }}px) {{ (width_max - (3 * width_marginDesktop)) / 4 }}px, (min-width: {{ respond_r3 }}px) 100vw - {{ (3 * width_marginDesktop) / 4 }}px, .25 * (100vw - {{ width_marginMobile * 4}}px)"
									srcset="/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="/img/placeholders/3-2.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>
					
					<h3>COCKTAIL-DRUM</h3>
					<p>Mixed-use planning is taken to its logical conclusion; separate rooms within buildings are apportioned in order to create microcosmic neighborhoods inter mures. To reach a hotel room, the enterprising sleeper must first get through a laundry, a teahouse, and a tax-preparation service. Exploratory realty concerns work to identify, evaluate, and sell unused space; their agents secure underutilized cellars, rooftops, parking lots, conference rooms, and pass them on to customers in need of modest, conveniently situated spaces. An in-house microgeographer works with the buyer to develop strategies for the parcel. Customers have developed a plethora of unique uses: a three-foot wide ice hockey rink in a crawlspace, a one-room hotel in a tollbooth, dormitory housing in cubicles.</p>
					
					<h3>BILLINGSGATE </h3>
					<p>All public statuary is removed and replaced with identically-scaled foam copies. Citizens can visit their scorn upon the simulacra: easily gouging in graffiti, sawing off heads, or removing riders from their horses. Moreover, they may post notes of mockery upon the foam, or cut messages directly into it – attacking their neighbors, their elected officials, and assorted fellow humans in terms of foul contempt.</p>
					
					<h3>TOBACCO </h3>
					<p>The timetable of the built environment is altered so that buildings may be conjured in a matter of days out of a fixed vocabulary of prefabricated parts, and then disassembled slowly and methodically over a standard course of time. Whereas the constructors worked in haste and obscurity, the destroyers will work in daylight under the terms of a scrupulous choreography. Crowds will gather outside to cheer these ritual demolitions. In addition to being thrilled and edified, the public will also be given a visible index of the passage of time.</p>
					
					<h3>CYPRESS </h3>
					<p>Lines of settlement rake across the country in fixed channels. Immense brooding shells begin at the coast, progressively half-sheltering slightly smaller iterations of the same forms, terminating at the opposite border in a scattering of rounded sukkahs. Humans are dispersed throughout this array based on the results of an extensive written questionaire concerning their space preferences.</p>
					
					<h3>NARCOLEPTIC </h3>
					<p>Ready access to sleeping facilities is taken to be the greatest possible good; whereby entryways, benches, and window-ledges are optimized for the comfort of the weary passerby, with leather cushions and coils of bedsheet rolled up like garden hoses. As a last resort for the exhausted, pavements and grates are rubberized, with reams of newspaper set out in neat bales.</p>
					
					<h3>ORNAMENTAL CABBAGE </h3>
					<p>Extract all trees on public lands. Replace each one with an attractive ornamental cabbage.</p>
					
					<h3>FEEDBACK </h3>
					<p>Each new development necessitates sympathetic re-development of adjacent blocks in two of the cardinal directions (chosen by two rolls of a four-sided die). <span class="note hanging hang-left">Upon re-development of the adjacent blocks, their adjacents (again chosen via four-sided die) are set upon in the same fashion.</span> If this mandates re-development of the original development, so be it — this re-development will respond to the subtle amalgam of intentions now present in its neighbor and make corresponding adaptations.</p>
					
					<h3>JETTY </h3>
					<div class="container hanging hang-left">
						<div class="row single">
							<figure>
								<img
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_innerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<figcaption>A caption gives context to the image it accompanies.</figcaption>
							</figure>
						</div>
					</div>
					<p>As widespread coastal flooding comes to pass, refit accordingly: connect all buildings on east-west streets with mounds of recovered masonry, embedding the original structures. Savvy walkers will soon be clambering across miles of rough stone, marveling at the extensive moss gardens and vibrant tidepools that have accumulated on the flanks.</p>
					
					<h3>SIGNATURE</h3>
					<p>Spraycan youth should be hired to grace the first ten feet or so of any and all buildings with the names, CVs, and portraits of the responsible developers, architects, board members, councilmen, planners, etc — rendered, of course, in characteristically byzantine and colorful styles. (You gardeners can contract with toughs to carve your initials in the trees.)</p>
					
					<h3>PINBALL </h3>
					<p>A complex program for dense agglomerations comprising extensive ramping, actively energizing storefronts and kiosks, moveable access-gates, vibrant situational lighting, quiet side-lanes, nodes for repose, active aural stimuli, timed event-windows, and a comprehensive scoring of citizen activities.</p>
					<div class="container inner-bounded">
						<h3 class="figure-title">Single Inner-Bounded Hoverable</h3>
						<div class="row single">
							<figure class="hoverable">
								<img
									class="hoverable-display" 
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_innerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/placeholders/3-2.svg 375w,
									        	/img/placeholders/3-2.svg 480w,
												/img/placeholders/3-2.svg 768w"
									src="		/img/placeholders/3-2.svg"
									alt="…">
								<img
									class="hoverable-onHover" 
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_innerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/placeholders/3-2-alt.svg 375w,
									        	/img/placeholders/3-2-alt.svg 480w,
												/img/placeholders/3-2-alt.svg 768w"
									src="		/img/placeholders/3-2-alt.svg"
									alt="…">
							</figure>
							<p class="common-caption">A caption gives context to the image it accompanies.</p>
						</div>
					</div>
					
					<h3>PENNANT </h3>
					<p>Coded semaphore flags attached every spare outdoor surface cheerfully explain in exhaustive detail the history of the surrounding space. As new history is made, the flags are removed and re-organized. Pennant-strings stretching across each intersection attempt to synthesize the various histories through a panoply of critical lenses.</p>
					
					<h3>NAVIDAD</h3>
					<p>Housing units go lot-to-lot, pleading for “posada” (shelter). They are turned away time and time again by regretful local authorities. When their stock of hope is nigh-exhausted, they finally happen upon a worthy hospitaller who will heartily answer their call, and extend heris invitation.</p>
					
					<h3>SHELL-BEAN </h3>
					<p>Encased by a steep snake-wall of solid kudzu, a line of tiny standalone specialty boutiques waits to satisfy the adventurous shopper. Suggested retail lines: designer housewares, specialty grocery, antiques.</p>
					
					<h3>STARFIGHTER  </h3>
					<p>If the suburbs are planets for the star-city, it follows that there must be asteroids as well. Erect among the far foothills small communities, lone ranches, and miniscule shelters, furnished with an absolute bare minimum of amenities. Hide dedicated visionaries here, couched in jagged design, clinging to steep grades. Soon, I think, you will see the pilgrims come flocking and mining. </p>
					
					<h3>SWEATER </h3>
					<p>Put on a comfortable sweater and venture out on an average day. The sweater will lend you an air of trustworthiness and allow you to successfully approach any passerby you may meet with. Don't pass out fliers, don't make demands — just extend a hand. Community will be forged. Note: do not use black sweater.</p>
					
					<h3>CONTROVERSY </h3>
					<p>A series of electronic bulletin boards are erected at street level (roughly blackboard sized, black-on-green LED), one standing at the central crossing for each four-block area. They will broadcast fabricated controversies loosely predicated on standard neighborhood issues (an untoward odor emanating from below the hardware store; an epidemic of thieving magpies). Residents will congregate </p>
					<p>to carry on productive arguments based on the presented scenarios.</p>
					
					<h3>PLANT-CELL </h3>
					<p>A planned community without streets, only a grid of variably-sized lots enclosed by fences. These fences appear to be composed of standard planking, but are outfitted with outlandishly advanced gates regulated by a complex series of protocols that follow each homeowner's personal preferences. To ensure free passage through neighbors' lots, residents must cultivate goodwill, or else risk an escalating loss of mobility. </p>
					
					<h3>INTESTINAL </h3>
					<p>The country is reconfigured into winding linear tracts of development. Citizens spend their lives migrating forward – inhabiting each zone for a set time, and then being forcibly moved on, east to west and then winding south, and back to east. Wild whorls are visible from space, regulating land and motion.</p>
					
					<h3>NYMPH</h3>
					<p>Policemen are replaced by nymphs, trained actors allocated to local populations of 500 people. These actors work with dramaturges and costume designers to develop a persona and appearance that accords with the local physical and cultural character. Living a specially-marked lodge in residence, they are charged with amicably mediating community affairs, and representing their assigned population in conversations and disputes with other populations.</p>
					
					<h3>LIMPID</h3>
					<p>A park of trees painted birch, with dead leaves blown softly back and forth by little fans half-sunk in the ground. The gas in the lampposts is switched on at 5:30, in the evening. A little stone cabin on quiet wheels is perenially moving away from the visitor, just around the bend ahead.</p>
					
					<h3>QUAKER</h3>
					<p>Residents are herded into a house and forced to sit silently until the oldest person among them can fumble their own way into formulating a set of bylaws agreeable and binding to all (by popular vote).</p>
					
					<h3>CARPET</h3>
					<p>An interminable lawn, dashed here and there with split-rail fences, dotted here and there with forsythias, where everyone sleeps on little wooden platforms up in little cherry trees. Anything else is banished within what’s left of what were the houses, where maple arms struggle out of the windows, where badgers seem to reside.</p>
					
					<h3>PEACH </h3>
					<p>The house as a whole is heavenly and open, because the services are relegated to a central core. The more amenities are added, the more the core grows, by ducts and pipes and wires, bit by bit. We fear, without much reason I can see, that our children will neglect our couches, our heat lamps, our viewing-bubbles, and turn their attention to that core, that shouldn’t even really be seen. The other fear, maybe, being that our children will not be characterizable by any one characteristic or another; that some will fiddle with the valves and others continue to talk about the sights by the credenza; that they will not even honor us in contradicting us, but instead just corrode our picture.</p>
					
					<h3>GAG</h3>
					<p>All ground floors are taken up by bars; above them are offices for corporations and therapists. Beyond a little suburb, where the men stand outside and the women work inside, there are mountains, with a guru atop each one. The sea is lightly dotted with tiny islands, each one held together by a single palm tree. People ask many questions of one another.</p>
					
					<h3>MUSICAL </h3>
					<p>A proposed subdivision, with a single speaker hung high off a tree. At one unannounced time, during every calendar year, the speaker starts to play music, and everyone must leave their houses, and circle round the block, and when the music stops they must run, must rush inside the nearest house, and that will then be their house for the year, and if they are the last, they must immediately leave on foot, with someone else taken in off the waitlist; and all this being the case, they keep their houses as interchangeable as possible, to minimize difficulty, and train by jogging all year round.</p>
					
					<h3>ADVERSITY</h3>
					<p>Access to food, shelter, and medical care of the highest quality is guaranteed as a basic right, with the sole provision that everyone availing themselves of these benefits be made to appear as shabby and deprived as possible; such that free hospitals are hidden in cinder-block warehouses and the meticulously sealed windows of spacious duplexes are covered with ragged boards and old sheets.</p>
					
					<h3>PEN AND PAPER</h3>
					<p>In a vast, windowless room, the population sits in groups of eight at card tables, playing through fictitious zoning appeals, reviews of erosion control plans, curb cut approvals. One at each table patiently leads the rest with the help of copious notes.</p>
					
					<h3>CUCKOO</h3>
					<p>When you get back from the grocery store, there is another mailbox nailed on top of yours. When you return from a vacation, you find an addition on the side of your house in the form of a small bedroom with a crying child inside.</p>
					
					<h3>MAGPIE</h3>
					<p>Go about town stealing lawn jockeys, gazing balls, plastic sasquatches, and such for a few years. Lay them out in a twenty-foot grid on a gently rolling lawn on your property and invite the public to see.</p>
					
					<h3>GRUESOME</h3>
					<p>All streets get walled, roofed, and wired for sound. If you enter, you must put on a grotesque full-head rubber mask, and you can choose to spend an hour harrassing other people within for a small compensation. Palletfuls of false cobweb get trucked in through an unobtrusive service entrance.</p>
					
					<h3>HIGHLAND GAMES</h3>
					<p>And lo! The boundaries of your house lot shall now be determined by how far you can throw a 16 lb weight from an uncleared central point.</p>
					
					<h3>GETTYSBURG</h3>
					<p>Sometimes, act as though you were the person who lived in your house 10 years ago. What if no one lived in your house 10 years ago? Stay inside and pretend you aren’t home. Your house was not built yet 10 years ago? You must live outdoors as a wild person of the woods. If you yourself lived in your house 10 years ago — I hope you have your old clothes!</p>
					
					<h3>GRIEF</h3>
					<p>You have painted the building entirely black, left all windows open, and furnished each one with long black curtains. Does your outlook, at length, improve? How does light change? Do questions seem very impertinent? Well, this kind of thing can make you appreciate shadows more, and how they get as long in the long afternoons as the long black curtains snake out of the windows.</p>
					
					<h3>CREEPING</h3>
					<p>Oppressive noise ordinances make construction impossible to the point where all work must be done very late, out of sight, through snapping together plastic structures, tying off elaborate rope lattices, applying compounds with a pallette knife from a little tub. Work proceeds with painful slowness. In bed, with one eye open, you can listen for a carpet of tapping and slaps, even urghs, each night beside the rustling of the leaves.</p>
					
					<h3>RADIANT</h3>
					<p>By order of the king, the streets have been plated in tin, brass, and gold where appropriate, all fluted and hand-painted to a fare-thee-well. Each balcony, a gondola tethered to its own tasselled and useless balloon; the dirt itself is grains of marble.</p>
					
					<h3>GREMLIN</h3>
					<p>In the morning, the houses are found painted into parodies of themselves, front doors bashed up into buck teeth, pediments all painted as mustaches, and bricks thrown though high windows to make pupils for their eyes. All through the cul-de-sac, they seem to be mocking their masters. But they didn’t do anything wrong!</p>
					
					<h3>FLATPACK</h3>
					<p>So many bulk goods sitting on their cardboard, rolls of sod, plastic slides, arcade machines, dog bubblers, baskets of rushes, fat-bottomed birches, curly bulbs, gas jets, manholes and manhole covers, sparrows, curb cuts and long sprayers, with cans of pink spray paint.</p>
					
					<h3>AGAR</h3>
					<p>With sufficient formwork and enough powder, along with a good high tap for tapwater, you can catch all the real life in a building – I mean the microbes in the water, the mites who traverse the waste of the boards, the mites who fell off from people still clinging to the eyelashes – you can catch all this stuff in a tall agar block, and then take samples from it with very long tubes.</p>
					
					<h3>TRUE LOVE</h3>
					<p>You have been tossing back and forth on a very thin mattress, in some deep throes, with light through some lurid blinds reflecting on your chest. A very high buzzing in the air. You put on a coat; walk past the storefronts, walk into the storefront of a small fortuneteller late, late, just after the rain, and ask, my building, should it be the brackets, or the giant eagle? The rook-and-bishop? The weaver’s spindle? What will it be, to second the face of my love?</p>
					
					<h3>GYPSUM</h3>
					<p>They undertook to regularize all punctured surfaces with drywall. They secured sponsorship from a commercial drywall concern. They set up a citizen line to request fixes for hairline cracks, peeling, doorknob holes, porthole windows, bay windows, picture windows, Corbusian windows, entry courts, alleyways, arterials, and so forth. They advertised the citizen line in the community paper.</p>
					
					<h3>COMPENSATION</h3>
					<p>Propose to honor all neighborhoods with a commemorative structure. For purposes of harmony, this should be scaled according to a ratio set out by dividing the height of the city’s tallest structure by the overall number of city inhabitants. This is then applied on a neighborhood-by-neighborhood basis, pegged to the inhabitant number of each neighborhood at that particular moment in time. Once too small for inhabitation, structures may become obelisks, spikes, or even needles set upright in the pavement.</p>
					
					<h3>MOVEABLE FEAST</h3>
					<p>Produce, with a stroke of the pen, 40,000 plastic chairs and two hot dog carts.</p>
					
					<h3>WORSHIPFUL</h3>
					<p>Once every five years, follow the daily commute of the person you most respect at the time. At each intersection, prostrate yourself (touching your head to your steering wheel will do) and utter the following formula: “I do as though you were watching and cared that I do just as you used to, or still in fact may do.”</p>
					
					<h3>STICKY</h3>
					<p>As a public service, dip yourself in glue and roll like a barrel up and down the streets. Ball up what you collect and store it in your shed.</p>
					
					<h3>SEALED</h3>
					<p>Take the city code and lock it away according to such an obscure formula that only a fearless group of adventurers could reclaim it once more through problem-solving and general intrepidity.</p>
					
					<h3>WIREFRAME</h3>
					<p>Build all proposed designs at half-scale in chickenwire and populate them with chickens matching the desired daytime population. Gauge success of the final proposal from the test results.</p>
					
					<h3>UNSAYABLE</h3>
					<p>Under a dismal polar mountain, create a city with penal convicts of every thinkable but unsayable proposition — race worship, child fancy in mansions, live human dining. Punish them in turn as objects in each others’ fantasies, continually tantalizing them by foreclosing the fantasies before consummation. Film the proceedings, and use the resulting hideous images in a disciplinary fashion for the normal ones back home. This way, both moralities are served.</p>
					
					<h3>AVALANCHE</h3>
					<p>Build many sturdy, sturdy little houses. Push them all at once down a very steep slope; see how they pile. Repeat, with more sturdy little houses on top of the pile.</p>
					
					<h3>QUEEN ANNE</h3>
					<p>People ride horses down the street. All the trees are very tall sycamores. The streetlamps burn low. The gardens quite unkempt, also low. Brick for the walks, all bricks laying flush.</p>
					
					<h3>TRAILBLAZER</h3>
					<p>All doorways are flaming, human-shaped holes directly through the walls.</p>
					
					<h3>PURPLE CRAYON</h3>
					<p>Neighborhoods designed by grade level, matching each ideal age’s spatial reasoning abilities.</p>
					
					<h3>CLOSED SHOP</h3>
					<p>Pay the nation’s fathers to build an entirely new city on the plains.   </p>
				</div> {# /div.body-main #}
			</div> {# /div.body #}
			<div class="meta">
				<p class="date">(March 2014–February 2016)</p>
			</div>
		</main>
		<nav class="primary bottom inner-bounded">
			<ul class="primary-nav-list">
				<li class="primary-nav-item"><a href="index.html">Contents</a></li>
				<li class="primary-nav-item"><a href="#">About</a></li>
				<li class="primary-nav-item"><a href="#">Index</a></li>
			</ul>
		</nav>
		<div class="comments unbounded">
			<div id="disqus_thread" class="inner-bounded"></div>
			<script>
			/**
			* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			
			s.src = '//rhymepaysage.disqus.com/embed.js';
			
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>{# /.content-start #}
{% endblock %}
