{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set bodyClass = "home" %}

{% block content %}
	<div class="content-start">
		<nav class="primary top restrict-column">
			<ul class="primary-nav-list">
				<li class="primary-nav-item"><a href="#">About</a></li>
			</ul>
		</nav>
		<main id="content" role="main">
			<nav class="secondary">
				<ul class="secondary-nav-list">
					<li class="secondary-nav-item _isActive">
						<a href="#" class="trigger">All</a>
						<div class="category-highlight _showOnSiblingTriggerHover">
							<img src="/img/key-ani.gif" />
						</div>
					</li>
					<li class="secondary-nav-item">
						<a href="#" class="trigger">Essays</a>
						<div class="category-highlight _showOnSiblingTriggerHover">
							<img src="/img/essays-ani.gif" />
						</div>
					</li>
					<li class="secondary-nav-item">
						<a href="#" class="trigger">Projects</a>
						<div class="category-highlight _showOnSiblingTriggerHover">
							<img src="/img/projects-ani.gif" />
						</div>
					</li>
					<li class="secondary-nav-item">
						<a href="#" class="trigger">Landscapes</a>
						<div class="category-highlight _showOnSiblingTriggerHover">
							<img src="/img/landscapes-ani.gif" />
						</div>
					</li>
					<li class="secondary-nav-item">
						<a href="#" class="trigger">Backyards</a>
						<div class="category-highlight _showOnSiblingTriggerHover">
							<img src="/img/backyards-ani.gif" />
						</div>
					</li>
				</ul>
			</nav>
			<ul class="entry-list restrict-column">
				<li class="entry"><a href="#"><span class="title">Completism</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Fiction for Spatial Design</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Introduction to <i>The Principles of Landscape Criticism</i></span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Lot II</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Being Ecological</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">I Advance Masked</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Both</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Do Animals Play? Do Animals Work?</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Campaigns and Quarters</span>&nbsp;<span class="date">(2016)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Flatpack Parks</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Little Loops</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Are People Design Materials?</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">On Character</span>&nbsp;<span class="date">(20013–2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Firewalls</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Indoor Landscapes</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Pensées</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Inheritance</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">My Back Door</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">The Realms of Landscape III</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">The Realms of Landscape II: Vulgar Theaters</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">The Realms of Landscape</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Gestures</span>&nbsp;<span class="date">(2015)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Landscape Making and its Uses</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Miyamoto Landscape</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Child World</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Fairy World</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Is It A Landscape?</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Impedance</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Lot I</span>&nbsp;<span class="date">(2013–2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">The Cloth and the Wire Lot</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Lives of the Non-Architects</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Almost Nothing</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Rambles for Method</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Be the Best City You Can Be</span>&nbsp;<span class="date">(2014)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Discontent</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Plans And Sections Of The Winchester House</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Mulberry Leaves</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">On Miscellanies</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">The Domain Of…</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">“What Means the World to You?”</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Notebooks Out Paysagistes!</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Quotidiana</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Procedurals</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Less You or Less</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">“Rude Mechanicals”</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Ferry ’Cross the Mersey</span>&nbsp;<span class="date">(2013)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Back to C.T.</span>&nbsp;<span class="date">(2012)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Wizz Deflections on Space</span>&nbsp;<span class="date">(2012)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Edits Pt. 1</span>&nbsp;<span class="date">(2012)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Open Letter to the IIST</span>&nbsp;<span class="date">(2011)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Essay on Erving, MA (With Ten Views)</span>&nbsp;<span class="date">(2011)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Minute Particulars</span>&nbsp;<span class="date">(2009)</span></a></li>
				<li class="entry"><a href="#"><span class="title">Amateur of Psychedelia</span>&nbsp;<span class="date">(2009)</span></a></li>
			</ul>
		</main>
		<nav class="primary bottom restrict-column">
			<ul class="primary-nav-list">
				<li class="primary-nav-item"><a href="#">Index</a></li>
			</ul>
		</nav>
	</div>{# /.content-start #}
{% endblock %}
