<IfModule mod_rewrite.c>
	RewriteEngine On

	# Send would-be 404 requests to Craft
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
	RewriteRule (.+) index.php?p=$1 [QSA,L]

	# Disables font hotlinking
	RewriteCond %{HTTP:Origin}  !^$|http(s)?://(www\.)?example\.com$ [NC]
	RewriteRule \.(woff|eot)$ - [NC,L]
	RewriteCond %{HTTP_REFERER} !.
	RewriteRule \.(woff|eot)$ - [F,NC,L]
	Options -Indexes
	
	# compress text, html, javascript, css, xml:
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript

	# compress webfont files (EOT, TTF, and SVG)
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE application/x-font-ttf 
	AddOutputFilterByType DEFLATE image/svg+xml
	
	#cache font files for 30 days
	<FilesMatch "\.(svg|eof|ttf|woff)$">
	ExpiresDefault "access plus 30 days"
	</FilesMatch>
	FileETag none

</IfModule>
