// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars.scss';
@import '_measure-mixins.scss';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/

@import '_measure-defaults.scss';

$font-title: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

$respond-r3: 560px;
$respond-r4: 984px;

@import '_measure-reset.scss';

body {
	font-size: 16px;
	font-family: $font-body;
	color: $color-black;
	margin: $grid $grid $grid * 7 $grid;
	position: relative;
	z-index: 0;
	@include respond-r1 {
		font-size: 18px;
	}
	@include respond-r2 { 
		margin-left: $grid * 5;
		margin-right: $grid * 5;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 32px;
	font-family: $font-title;
	margin: $grid * 5 0;
	font-weight: 300;
}

main {
	position: relative;
	z-index: 0;
}

.content-start {
	position: relative;
	z-index: 0;
}

.restrict-column {
	@include respond-r3 {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
}

nav.primary {
	font-style: italic;
	&.top {
		margin-bottom: $grid * 5;
	}
	&.bottom {
		margin-top: $grid * 5;
	}
}

nav.secondary {
	margin: $double 0 $grid * 4;
	font-family: $font-title;
	font-size: 95%;
	position: relative;
	z-index: 1;
	width: 100%;
	a {
		&:hover {
			font-family: $font-title;
			font-weight: bold;
		}
	}
	@include respond-r3 {
		font-family: $font-body;
		font-size: 100%;
	}
	@include respond-r4 {
		font-family: $font-body;
		font-size: 100%;
		position: absolute;
		margin-top: $grid/2;
	}
}

.category-highlight {
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -100;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.entry,
.primary-nav-item,
.secondary-nav-item {
	padding-bottom: .5em;
	line-height: 1.2;
}

.entry-list {
	z-index: 10;
	position: relative;
}

.secondary-nav-item._isActive {
	font-family: $font-title;
	font-weight: bold;
}

span.title,
nav.primary a {
	box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-black;
	padding-bottom: 1px;
	&:hover {
		text-decoration: none;
		box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 $color-black;
	}
}

span.date {
	font-size: 60%;
	font-family: $font-title;
	font-weight: bold;
}

.hidden {
	visibility: hidden;	
}

body.home ._revealOnHome {
	.hidden { visibility: visible; }
}

._revealOnHover:hover {
	.hidden { visibility: visible; }
}

._fadeOnSiblingTriggerHover {
	opacity: 0;
	transition: opacity .3s;
	z-index: -5;
}

.trigger:hover + ._fadeOnSiblingTriggerHover {
	opacity: 1;
	z-index: -1;
}

