// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars.scss';
@import '_measure-mixins.scss';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/

@import '_measure-defaults.scss';

$font-title: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
$font-alt: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

$width-max: 1400px;
$width-margin-desktop: $grid * 5;

$respond-r3: 560px;
$respond-r4: 984px;
$respond-r5: $width-max + ($width-margin-desktop * 2);

$ui-close-large: 34px;
$ui-close-small: 26px;

@import '_measure-reset.scss';

body {
	font-size: 18px;
	font-family: $font-body;
	color: $color-black;
	padding: $grid $double $grid * 10 $double;
	position: relative;
	z-index: 0;
	max-width: 1400px;	
	@include respond-r1 {
		font-size: 18px;
	}
	@include respond-r2 { 
		margin-left: $grid * 5;
		margin-right: $grid * 5;
	}
	@include respond-r5 { 
		margin-left: auto;
		margin-right: auto;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.ui-close {
	position: fixed;
	top: $double;
	right: 10px;
	display: block;
	background: transparent url('/img/ui/ui-close-small.svg') no-repeat left top;
	background-size: auto $ui-close-small;
	width: $ui-close-small;
	height: $ui-close-small;
	text-indent: -10000px;
	overflow: hidden;
	z-index: 100000;
	&:hover {
		background-position: -$ui-close-small;
		@include respond-r3 {
			background-position: -$ui-close-large;
		}
	}
	@include respond-r3 {
		background-image: url('/img/ui/ui-close-large.svg'); 
		background-size: auto $ui-close-large;
		width: $ui-close-large;
		height: $ui-close-large;
		top: $grid * 5;
		right: $grid * 5;
	}
}

h1 {
	font-size: 32px;
	font-family: $font-title;
	margin: $grid * 6 0 ;
	font-weight: 300;
	@include respond-r2 {
		margin: $grid * 8 0;
	}
}

main {
	position: relative;
	z-index: 0;
}

.content-start {
	position: relative;
	z-index: 0;
}

.restrict-column {
	@include respond-r3 {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
}

div.body {
	h2, h3, h4, p, ul, ol {
		@extend .restrict-column;
	}
	p + p {
		margin-top: 1em;
	}
	h2 {
		@extend h1;
		font-weight: 600;
	}
	p {
		line-height: 1.4;
	}
}

div.meta {
	p {
		@extend .restrict-column;
		margin-top: 2em;
		font-family: $font-title;
		font-size: 65%;
		font-weight: 600;
	}
}

div.comments {
	margin-top: $grid * 7;
}

nav.primary {
	font-style: italic;
	&.top {
		margin-bottom: $grid * 4;
		@include respond-r2 { margin-top: $grid * 5; }
	}
	&.bottom {
		margin-top: $grid * 3;
		@include respond-r2 { margin-top: $grid * 7; }
	}
}

main + nav.primary.bottom {
	margin-top: $grid * 7;
}

nav.secondary {
	margin: $double 0 $grid * 4;
	font-family: $font-title;
	font-size: 95%;
	position: relative;
	z-index: 1;
	width: 100%;
	a {
		&:hover {
			font-family: $font-title;
			font-weight: bold;
		}
	}
	@include respond-r3 {
		font-family: $font-body;
		font-size: 100%;
	}
	@include respond-r4 {
		font-family: $font-body;
		font-size: 100%;
		position: fixed;
		width: 92%;
		width: calc(100% - 80px);
		margin-top: $grid/2;
	}
	@include respond-r5 {
		width: 1400px;
	}
}

.category-highlight {
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -100;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.entry,
.primary-nav-item,
.secondary-nav-item {
	padding-bottom: .5em;
	line-height: 1.2;
}

.entry-list {
	z-index: 10;
	position: relative;
}

span.title,
nav.primary a {
	box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-black;
	padding-bottom: 1px;
	&:hover {
		text-decoration: none;
		box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 $color-black;
	}
}

span.date {
	font-size: 60%;
	font-family: $font-title;
	font-weight: bold;
}

.hidden {
	transition: opacity .3s;
	opacity: 0;
	visibility: hidden;	
}

body.home ._revealOnHome {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._revealOnHover:hover {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._fadeOnSiblingTriggerHover {
	opacity: 0;
	transition: opacity .3s;
	z-index: -5;
}

.trigger:hover + ._fadeOnSiblingTriggerHover {
	opacity: 1;
	z-index: -1;
}

// - - - - 

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	font-family: $font-title;
	font-weight: bold;
}

body.home .secondary-nav-item._activeOn { display: block; visibility: visible; }

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	visibility: visible;
}

// - - - - 

._showOn {
	display: none;
	@include respond-r2 { 
		display: block;
		visibility: hidden; 
	}
}

body.essays .entry._showOn.essays,
body.projects .entry._showOn.projects,
body.landscapes .entry._showOn.landscapes,
body.backyards .entry._showOn.backyards,
body.home .entry._showOn,
body.all .entry._showOn { 
	display: block;
	@include respond-r2 { visibility: visible; }
}

body.home ._hideMobileHome {
	display: none;
	@include respond-r3 { display: block; }
}

// - - - - 

._hideOnMobile {
	display: none;
	@include respond-r3 {
		display: block;
	}
}

._invisibleOnMobile {
	visibility: hidden;
	@include respond-r3 {
		visibility: visible;
	}
}

._showOnMobile {
	display: block;
	@include respond-r3 {
		display: none;
	}
}

body.content ._showOnInterior {
	display: block;
	@include respond-r3 {
		display: block;
	}
}

// browsersync 

#__bs_notify__ { bottom:0 !important; right: 0 !important; border-radius: 0 !important; opacity: .1; top: auto !important; }
