// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars.scss';
@import '_measure-mixins.scss';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/

@import '_measure-reset.scss';
@import '_measure-defaults.scss';

$font-title: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
$font-alt: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

$color-black: #222;

$width-max: 1400px;
$width-margin-mobile: $double;
$width-margin-desktop: $grid * 5;
$width-inner-bounded: $grid * 60;
$width-outer-column: $grid * 22;
$width-outer-edge: $width-outer-column + $width-margin-desktop;
$width-outer-bounded: $width-inner-bounded + (2 * ($width-outer-column + $width-margin-desktop));

$respond-r3: 560px;
$respond-r4: 984px;
$respond-r5: $width-max + ($width-margin-desktop * 2);

$ui-close-large: 34px;
$ui-close-small: 26px;

$time-xlong: 25s;
$time-long: 16s;
$time-short: 4s;
$color-trans-whispergray: rgba(0,0,0,.02);

// - - - - - - -

@keyframes ani-fadeOut {
    from {color: $color-black;}
    to {color: white;}
}

@keyframes ani-blackOut {
    from {background-color: white;}
    to {background-color: $color-trans-whispergray;}
}

@keyframes ani-clearOut {
    from {color: $color-black;}
    to {color: rgba(0,0,0,0);}
}

@keyframes ani-commentsBg {
    from {background-color: $color-trans-whispergray;}
    to {background-color: #dbe6d5;}
}


// - - - - - - -

body {
	font-size: 18px;
	font-family: $font-body;
	color: $color-black;
	padding: $grid $grid * 3 $grid * 10 $double;
	position: relative;
	z-index: 0;
	//animation: ani-blackOut ease-in-out $time-short infinite alternate;
	@include respond-r1 {
		font-size: 18px;
	}
	@include respond-r2 { 
		padding-left: $grid * 5;
		padding-right: $grid * 5;
	}
	&.content { padding-bottom: 0; }
}

a {
	text-decoration: none;
	color: inherit;
}

.ui-close {
	position: fixed;
	top: $double;
	right: 10px;
	display: block;
	background: transparent url('/img/ui/ui-close-small.svg') repeat-x right top;
	background-size: auto $ui-close-small;
	width: $ui-close-small;
	height: $ui-close-small;
	text-indent: -10000px;
	overflow: hidden;
	z-index: 100000;
	&:hover {
		background-position: 0;
		@include respond-r3 {
			background-position: 0;
		}
	}
	@include respond-r3 {
		background-image: url('/img/ui/ui-close-large.svg'); 
		background-size: auto $ui-close-large;
		width: $ui-close-large;
		height: $ui-close-large;
		top: $grid * 5;
		right: $grid * 5;
	}
}

body.content {
	h1 {
		color: white;
		animation: ani-fadeOut ease-in-out $time-long forwards;
		transition: color .3s;
		&:hover {
			color: $color-black;
			animation: none;
		}
	}
}

h1 {
	font-size: 32px;
	font-family: $font-title;
	margin: $grid * 6 0 ;
	font-weight: 300;
	transition: opacity .3s;
	&:hover { 
		animation: none; 
		opacity: 1; 
	}
	@include respond-r2 {
		margin: $grid * 8 0;
	}
}

main {
	position: relative;
	z-index: 0;
}

.content-start {
	position: relative;
	z-index: 0;
}

.unbounded {
	width: 100%;
}

.inner-bounded {
	@include respond-r3 {
		max-width: $width-inner-bounded;
		margin-left: auto;
		margin-right: auto;
	}
}

.outer-bounded {
	@include respond-r3 {
		max-width: $width-outer-bounded;
		margin-left: auto;
		margin-right: auto;
	}
}

.max-bounded {
	@include respond-r3 {
		max-width: $width-max;
		margin-left: auto;
		margin-right: auto;
	}
}


div.body {
	.body-main {
		margin-top: $grid * 6;
		@include respond-r3 { margin-top: $grid * 8 	}
	}
	h2, h3, h4, p, ul, ol {
		@extend .inner-bounded;
		position: relative;
	}
	p + p {
		margin-top: 1em;
	}
	h2 {
		@extend h1;
		margin-bottom: 0;
		font-weight: 600;
		animation: none !important;
		color: $color-black !important;
	}
	h3 {
		font-family: $font-alt;
		font-weight: 700;
		font-size: 80%;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-top: 2.5em;
		margin-bottom: .75em;
		line-height: 1.3;
	}
	p.text-subtitle {
		font-style: italic;
		margin-top: $grid;
		i, em, cite { font-style: normal; }
	}
	p {
		line-height: 1.4;
	}
}

.margin-note {
	font-family: $font-alt;
	font-weight: 700;
	font-size: 60%;
	display: block;
    width: $width-outer-column;
    position: absolute;
}

.margin-note.hang-right {
    right: -$width-outer-edge;
}

.margin-note.hang-left {
    left: -$width-outer-edge;
}

div.meta {
	p {
		@extend .inner-bounded;
		margin-top: 2em;
		font-family: $font-title;
		font-size: 65%;
		font-weight: 600;
	}
}

div.comments {
	margin-top: $grid * 7;
}

nav.primary {
	font-style: italic;
	&.top {
		margin-bottom: $grid * 4;
		@include respond-r2 { margin-top: $grid * 5; }
	}
	&.bottom {
		margin-top: $grid * 3;
		@include respond-r2 { margin-top: $grid * 7; }
	}
}

main + nav.primary.bottom {
	margin-top: $grid * 7;
}

nav.secondary {
	margin: $double 0 $grid * 4;
	font-family: $font-title;
	font-size: 95%;
	position: relative;
	z-index: 1;
	width: 100%;
	a {
		&:hover {
			font-family: $font-title;
			font-weight: bold;
		}
	}
	@include respond-r3 {
		font-family: $font-body;
		font-size: 100%;
	}
	@include respond-r4 {
		font-family: $font-body;
		font-size: 100%;
		position: fixed;
		width: 92%;
		width: calc(100% - 80px);
		margin-top: $grid/2;
	}
	@include respond-r5 {
		width: 1400px;
	}
}

.category-highlight {
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -100;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.entry,
.primary-nav-item,
.secondary-nav-item {
	padding-bottom: .5em;
	line-height: 1.2;
}

.entry-list {
	z-index: 10;
	position: relative;
}

span.title,
nav.primary a {
	box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-black;
	padding-bottom: 1px;
	&:hover {
		text-decoration: none;
		box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 $color-black;
	}
}

span.date {
	font-size: 60%;
	font-family: $font-title;
	font-weight: bold;
}

figure img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.container {
	margin: $grid * 6 $grid * -1 $grid * 6 0;
	overflow: hidden;
	@include respond-r3 {
		margin: $grid * 6 auto;
	}
	h3.figure-title {
		margin-top: 0;
		margin-bottom: $grid * 3;
	}
	.row {
		margin: 0 ($width-margin-mobile / -2);
		overflow: auto;
		@include respond-r3 {
			margin: 0 ($width-margin-desktop / -2);
		}
	}
	.row + .row {
		figure {
			margin-top: $width-margin-mobile;
			@include respond-r3 {
				margin-top: $width-margin-desktop;
			}
		}
	}
	figure {
		padding: 0 $width-margin-mobile / 2;
		float: left;
		@include respond-r3 {
			padding: 0 ($width-margin-desktop / 2);
		}
	}
	.single figure { width: 100%; }
	.two-across figure { width: 50%; }
	.three-across figure { width: 33.333333%; }
	.four-across figure { width: 25%; }
	figcaption, 
	p.common-caption { 
		clear: both; 
		padding-top: $grid * 2;
		font-family: $font-alt;
		font-weight: 700;
		font-size: 60%;
		line-height: 1.4;
		padding-bottom: .2em;
	}
	p.common-caption { 
		@extend .inner-bounded; 
		padding: $grid * 2 ($width-margin-mobile / 2) 0;
		@include respond-r3 {
			padding: $grid * 2 0 0;
		}
	}
}

div.comments {
	padding: $grid * 3 $double $grid * 7;
	margin: $grid * 7 $grid * -3 0 $grid * -2;
	width: auto;
	background-color: $color-trans-whispergray;
	//animation: ani-commentsBg ease-in-out 5s infinite alternate;
	@include respond-r3 {
		margin: $grid * 8 $grid * -5 0 $grid * -5;
		padding: $grid * 8 $grid * 5 $grid * 8;
	}
}

// - - - - 

.hidden {
	transition: opacity .3s;
	opacity: 0;
	visibility: hidden;	
}

body.home ._revealOnHome {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._revealOnHover:hover {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._fadeOnSiblingTriggerHover {
	opacity: 0;
	transition: opacity .3s;
	z-index: -5;
}

.trigger:hover + ._fadeOnSiblingTriggerHover {
	opacity: 1;
	z-index: -1;
}

// - - - - 

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	font-family: $font-title;
	font-weight: bold;
}

body.home .secondary-nav-item._activeOn { display: block; visibility: visible; }

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	visibility: visible;
}

// - - - - 

._showOn {
	display: none;
	@include respond-r2 { 
		display: block;
		visibility: hidden; 
	}
}

body.essays .entry._showOn.essays,
body.projects .entry._showOn.projects,
body.landscapes .entry._showOn.landscapes,
body.backyards .entry._showOn.backyards,
body.home .entry._showOn,
body.all .entry._showOn { 
	display: block;
	@include respond-r2 { visibility: visible; }
}

body.home ._hideMobileHome {
	display: none;
	@include respond-r3 { display: block; }
}

// - - - - 

._hideOnMobile {
	display: none;
	@include respond-r3 {
		display: block;
	}
}

._invisibleOnMobile {
	visibility: hidden;
	@include respond-r3 {
		visibility: visible;
	}
}

._showOnMobile {
	display: block;
	@include respond-r3 {
		display: none;
	}
}

body.content ._showOnInterior {
	display: block;
	@include respond-r3 {
		display: block;
	}
}

// browsersync 

#__bs_notify__ { bottom:0 !important; right: 0 !important; border-radius: 0 !important; opacity: .1; top: auto !important; }
