// Measure
// Dan O. Williams
// Basic SCSS Mixins



// box model

@mixin box-sizing($box-sizing) {
	-moz-box-sizing: $box-sizing;
	-webkit-box-sizing: $box-sizing;
	box-sizing: $box-sizing;
}

@mixin font-size($sizeValue: 1.8) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


@mixin respond-r0 {
	@media only screen and (max-width: $respond-r1 - 1) {
		@content;
	}
}

@mixin respond-r1 {
	@media only screen and (min-width: $respond-r1) {
		@content;
	}
}

@mixin respond-r1-max {
	@media only screen and (max-width: $respond-r1 - 1) {
		@content;
	}
}

@mixin respond-r1-only {
	@media only screen and (min-width: $respond-r0 + 1) and (max-width: $respond-r1) {
		@content;
	}
}

@mixin respond-r2 {
	@media only screen and (min-width: $respond-r2) {
		@content;
	}
}

@mixin respond-r2-max {
	@media only screen and (max-width: $respond-r2) {
		@content;
	}
}

@mixin respond-r2-only {
	@media only screen and (min-width: $respond-r1 + 1) and (max-width: $respond-r2) {
		@content;
	}
}

@mixin respond-r3 {
	@media only screen and (min-width: $respond-r3) {
		@content;
	}
}

@mixin respond-r3-max {
	@media only screen and (max-width: $respond-r3) {
		@content;
	}
}

@mixin respond-r3-only {
	@media only screen and (min-width: $respond-r2 + 1) and (max-width: $respond-r3) {
		@content;
	}
}

@mixin respond-r4 {
	@media only screen and (min-width: $respond-r4) {
		@content;
	}
}

@mixin respond-r4-max {
	@media only screen and (max-width: $respond-r4) {
		@content;
	}
}

@mixin respond-r4-only {
	@media only screen and (min-width: $respond-r3 + 1) and (max-width: $respond-r4) {
		@content;
	}
}

@mixin respond-r5 {
	@media only screen and (min-width: $respond-r5) {
		@content;
	}
}

@mixin respond-max {
	@media only screen and (min-width: $respond-r5) {
		@content;
	}
}


@mixin padding {
	padding-left: $padding;
	padding-right: $padding;
	@include respond-page{
		padding-left: $padding*2;
		padding-right: $padding*2;
	}
}

@mixin bleed {
	margin-left: -$padding;
	margin-right: -$padding;
	@include respond-page{
		margin-left: -$padding*2;
		margin-right: -$padding*2;
	}
}

@mixin nobleed {
	margin-left: 0;
	margin-right: 0;
} 

@mixin bleed-padding {
	margin-left: -$padding;
	margin-right: -$padding;
	padding-left: $padding;
	padding-right: $padding;
	@include respond-page{
		margin-left: -$padding*2;
		margin-right: -$padding*2;
		padding-left: $padding*2;
		padding-right: $padding*2;
	}
}

@mixin rounded($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin button($radius, $background){
	@include rounded($radius);
	background-color: $background;
	padding: .35em .75em;		
	box-shadow: none;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	-webkit-appearance: none;
	&:focus{
		outline: none;
		-webkit-background-clip: padding;
		background-clip: padding-box;
	}
}

@mixin flexbox() {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin flex-column {
	flex-direction: column;
	-webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

@mixin flex-row {
	flex-direction: row;
	-webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

@mixin padding-margin {
	padding-left: $page-margin;
	padding-right: $page-margin;
	@include respond-mobile {
		padding-left: $page-mobile-margin;
		padding-right: $page-mobile-margin;
	}
}

@mixin exdent($value) {
	padding-left: $value;
	text-indent: -$value;
}

@mixin nofloat {
	float: none;
	width: auto;	
}

@mixin bleed-full {
	margin-left: -$page-margin;
	margin-right: -$page-margin;
	width: auto;
}

@mixin bleed-full-mobile {
	margin-left: -$page-mobile-margin;
	margin-right: -$page-mobile-margin;
	width: auto;
}

@mixin smallcaps-tight {
	text-transform: uppercase;
	letter-spacing: .01em;
}

@mixin smallcaps-wide {
	text-transform: uppercase;
	letter-spacing: .05em;
}

@mixin block-italic {
	font-style: italic;
	i, em, cite { font-style: normal; }
}
