//	Locally hosted

@font-face {
	font-family: 'Founders Grotesk Text Web';
	font-style: normal;
	font-weight: 600;
	src:	url('/fonts/FoundersGroteskTextWeb-Semibold.woff2') format('woff2'),    
			url('/fonts/FoundersGroteskTextWeb-Semibold.woff') format('woff'); 
}

@font-face {
	font-family: 'Founders Grotesk Text Web';
	font-style: italic;
	font-weight: 600;
	src:	url('/fonts/FoundersGroteskTextWeb-SemiboldItalic.woff2') format('woff2'),    
			url('/fonts/FoundersGroteskTextWeb-SemiboldItalic.woff') format('woff'); 
}

@font-face {
	font-family: 'Founders Grotesk Web';
	font-style: normal;
	font-weight: 300;
	src:	url('/fonts/FoundersGroteskWeb-Light.woff2') format('woff2'),    
			url('/fonts/FoundersGroteskWeb-Light.woff') format('woff'); 
}

@font-face {
	font-family: 'Founders Grotesk Web';
	font-style: normal;
	font-weight: 600;
	src:	url('/fonts/FoundersGroteskWeb-Medium.woff2') format('woff2'),    
			url('/fonts/FoundersGroteskWeb-Medium.woff') format('woff'); 
}

@font-face {
	font-family: 'Founders Grotesk Web';
	font-style: normal;
	font-weight: 600;
	src:	url('/fonts/FoundersGroteskWeb-Medium.woff2') format('woff2'),    
			url('/fonts/FoundersGroteskWeb-Medium.woff') format('woff'); 
}
