// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars';
@import '_measure-mixins';
@import '_parscher-vars';
@import '_parscher-ani';
@import '_pswipe';
@import '_pswipe-default-skin';
@import '_slick';
@import '_slick-theme';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/


// - - - - - - -

body {
	// background-color: yellow;
}

.pswp__top-bar { display: none; }

.row.slider,
.container.slideshow { 
	overflow: visible; 
	margin-bottom: $grid * 8;
	@include respond-r2 {
		margin-bottom: $grid * 6;
	}
}