// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars.scss';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/

@import '_parscher-fonts';

@import '_measure-reset';
@import '_measure-defaults';
@import '_parscher-vars';
@import '_parscher-ani';

@import '_measure-mixins.scss';


// - - - - - - -


body {
	@include font-size(1.8);
	font-family: $font-body;
	color: $color-black;
	padding: $grid $double $grid * 10 $double;
	position: relative;
	z-index: $zindex-0;
	@include respond-r2 { 
		padding-left: $grid * 5;
		padding-right: $grid * 5;
	}
	&.content { padding-bottom: 0; }
}

.fonts-loaded body {
	font-family: $font-body-loaded;
}

a {
	text-decoration: none;
	color: inherit;
}

.ui-close {
	position: fixed;
	top: $double;
	right: 10px;
	display: block;
	background: transparent url('/img/ui/ui-close-small.svg') repeat-x right top;
	background-size: auto $ui-close-small;
	width: $ui-close-small;
	height: $ui-close-small;
	text-indent: -10000px;
	overflow: hidden;
	z-index: $zindex-2;
	&:hover {
		background-position: 0;
		@include respond-r3 {
			background-position: 0;
		}
	}
	@include respond-r3 {
		background-image: url('/img/ui/ui-close-large.svg'); 
		background-size: auto $ui-close-large;
		width: $ui-close-large;
		height: $ui-close-large;
		top: $grid * 5;
		right: $grid * 5;
	}
}

h1 {
	@include font-size(1.4);
	font-family: $font-title;
	margin: $grid 0 $grid * 6 0 ;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .05em;
	@include respond-r2 {
		margin: $grid * 8 0;
	}
}

.fonts-loaded h1 {
	font-family: $font-alt-loaded;
	@include font-size(1.8);
}

main {
	position: relative;
	z-index: $zindex-0;
}

.content-start {
	position: relative;
	z-index: $zindex-0;
}

.unbounded {
	width: 100%;
}

.inner-bounded {
	@include respond-r3 {
		max-width: $width-inner-bounded;
		margin-left: auto;
		margin-right: auto;
	}
}

.outer-bounded {
	@include respond-r3 {
		max-width: $width-outer-bounded;
		margin-left: auto;
		margin-right: auto;
	}
}

.max-bounded {
	@include respond-r3 {
		max-width: $width-max;
		margin-left: auto;
		margin-right: auto;
	}
}

.hanging {
    width: calc(50% - #{$width-outer-calc});
    position: absolute;
	display: block;
	&.hang-right { 
		right: 0;	
	}
	&.hang-left { 
		left: 0;	
	}
}

div.body {
	.body-main {
		margin-top: $grid * 6;
		@include respond-r3 { margin-top: $grid * 8 	}
	}
	h2, h3, h4, p, ul, ol {
		@extend .inner-bounded;
	}
	p + p {
		margin-top: .85em;
		@include respond-r3 {
			margin-top: 1.35em;
		}
	}
	h2 {
		@extend h1;
		@include font-size(2.2);
		margin-bottom: 0;
		font-weight: 600;
		padding-top: $grid * 10;
		animation: none !important;
		color: $color-black !important;
	}
	h3 {
		font-family: $font-title;
		font-weight: 800;
		letter-spacing: .05em;
		@include font-size(1.6);
		margin-top: $grid * 6;
		margin-bottom: $grid * 3;
		line-height: 1.3;
		text-transform: uppercase;
	}
	p.text-subtitle {
		font-style: italic;
		margin-top: $grid;
		i, em, cite { font-style: normal; }
	}
	p {
		line-height: 1.4;
		@include respond-r3 {
			line-height: 1.6;
		}
	}
}

.fonts-loaded div.body {
	p {
		@include font-size(1.8);
		line-height: 1.45;
		@include respond-r3 {
			line-height: 1.6;
		}
	}
	h2 {
		@include font-size(1.8);
	}
	h3 {
		font-family: $font-alt-loaded;
		@include font-size(1.6);
		font-weight: 600;
	}
}

.hed-h4 {
	margin-top: 2em;
	font-family: $font-title;
	font-size: 65%;
	font-weight: 600;
}

.fonts-loaded .hed-h4 {
	font-family: $font-alt-loaded;
	@include font-size(1.3);
}


div.meta {
	p {
		@extend .inner-bounded;
		@extend .hed-h4;
	}
}

.fonts-loaded div.meta p {
}


div.comments {
	margin-top: $grid * 7;
}

nav.primary {
	font-style: italic;
	&.top {
		margin-bottom: $grid * 4;
		@include respond-r2 { margin-top: $grid * 5; }
	}
	&.bottom {
		margin-top: $grid * 3;
		@include respond-r2 { margin-top: $grid * 7; }
	}
}

main + nav.primary.bottom {
	margin-top: $grid * 7;
}

nav.secondary {
	margin: $double 0 $grid * 4;
	font-family: $font-title;
	font-size: 95%;
	position: relative;
	z-index: $zindex-1;
	width: 100%;
	a {
		&:hover {
			font-family: $font-title;
			font-weight: 600;
		}
	}
	@include respond-r3 {
		font-family: $font-body;
		font-size: 100%;
	}
	@include respond-r4 {
		font-family: $font-body;
		font-size: 100%;
		position: fixed;
		width: 92%;
		width: calc(100% - 80px);
		margin-top: $grid/2;
	}
	@include respond-r5 {
		width: $width-max;
	}
}

.fonts-loaded nav.secondary {
	a:hover {
		font-family: $font-title-loaded;
		font-weight: 600;
	    bottom: 2px;
		position: relative;
		@include font-size(2);
		letter-spacing: .01em;
	}
}

.category-highlight {
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: $zindex-below;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}


.text-index {
	margin-top: 1em;
}

.entry,
.index-entry,
.primary-nav-item,
.secondary-nav-item {
	padding-bottom: .5em;
	line-height: 1.35;
	min-height: $grid * 4;
}

.primary-nav-item,
.secondary-nav-item {
	height: $grid * 4;
}

.entry a {
	background-color: white;
    padding: 1px 2px 3px 0;
    border-radius: 1px;
}

.entry-list {
	z-index: $zindex-1;
	position: relative;
}

/*
span.title,
nav.primary a,
.index-entry a {
	box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-black;
	padding-bottom: 1px;
	&:hover {
		text-decoration: none;
		box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 $color-black;
	}
}
*/

// stolen from pictchfork.com (sorry.)

$color-text-shadow: white;

span.title,
nav.primary a,
.index-entry a {   
	background-image: linear-gradient(to bottom,$color-black 25%,$color-black 25%);
	background-size: 1px 1px;
	background-repeat: repeat-x;
	text-shadow: 0 -1px 0 #fff,0 1px 0 #fff,-2px -1px 0 #fff,2px 1px 0 #fff,1px 1px 0 #fff,-1px 0 0 #fff;
	padding-bottom: 1px;
	font-weight: regular;
	background-position: 0 20px;
	&:hover {
		background-size: 2px 2px;
	}
}

strong, .strong {
	font-family: $font-alt;
	font-size: 95%;
	font-weight: 700;
}

.index-multiples {
	display: inline;
	padding-left: .5em;
	.index-multiple-entry {
		display: inline;
		padding-right: .25em;
		&:after {
			content: ',';
		}
		&:last-child {
			padding-right: 0;
		}
		&:last-child::after {
			content: none;
		}
	}
}

span.date {
	font-size: 60%;
	font-family: $font-title;
	font-weight: 600;
}

.style-micro {
	font-family: $font-alt-loaded;
	@include font-size(1.1);
	letter-spacing: .03em;
}

.fonts-loaded span.date {
	@extend .style-micro;
	padding-left: 4px;
}

figure img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

p + .container.hanging {
	margin-top: 1.5em;
}

.container {
	margin: $grid * 6 $grid * -1 $grid * 6 0;
	overflow: hidden;
	@include respond-r3 {
		margin: $grid * 6 auto;
	}
	&.hanging {
		margin: $grid 0 0;
		& + p,
		& + ul, 
		& + ol { margin-top: 1em; }
	}
	h3.figure-title {
		margin-top: 0;
		margin-bottom: $grid * 3;
	}
	.row {
		margin: 0 ($width-gutter / -2);
		overflow: auto;
	}
	.row + .row {
		figure {
			margin-top: $width-margin-mobile;
		}
	}
	figure {
		padding: 0 $width-gutter / 2;
		float: left;
		&.hoverable { 
			position: relative;
			.hoverable-display {
			}
			.hoverable-onHover {
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				padding: 0 $width-gutter / 2;
			}
			&:hover {
				.hoverable-onHover {
					display: block;
				}
			}
		}
	}
	.single figure { width: 100%; }
	.two-across figure { width: 50%;  }
	.three-across figure { width: 33.333333%; }
	.four-across figure { width: 25%; } 
	figcaption, 
	p.common-caption { 
		clear: both; 
		padding-top: $grid * 2;
		font-family: $font-alt;
		font-weight: 700;
		@include font-size(1.3);
		line-height: 1.4;
		padding-bottom: .2em;
	}
	figcaption {
		padding-right: $double;
	}
	p.common-caption { 
		@extend .inner-bounded; 
		padding: $grid * 2 $grid * 4 0 ($width-margin-mobile / 2);
		@include respond-r3 {
			padding: $grid * 2 $grid * 4 0 0;
		}
	}
}

.fonts-loaded figcaption,
.fonts-loaded div.body p.common-caption {
	font-family: $font-alt-loaded;
	@include font-size(1.3);
}

.note {
	font-family: $font-alt;
	font-weight: 700;
	font-size: 60%;
	&.hanging {
		width: $width-outer-column;
		&.hang-left {
			margin-left: calc(50% - #{$width-outer-margin-calc});
		}
		&.hang-right {
			margin-right: calc(50% - #{$width-outer-margin-calc});
		}
	}
}

.margin-note.hang-right {
    right: 0;
}

.margin-note.hang-left {
    left: 0;
}


div.comments {
	padding: $grid * 3 $double $grid * 7;
	margin: $grid * 7 $grid * -3 0 $grid * -2;
	width: auto;
	background-color: $color-trans-whispergray;
	@include respond-r3 {
		margin: $grid * 8 $grid * -5 0 $grid * -5;
		padding: $grid * 8 $grid * 5 $grid * 8;
	}
}

// - - - - 

.hidden {
	transition: opacity .3s;
	opacity: 0;
	visibility: hidden;	
}

body.home ._revealOnHome {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._revealOnHover:hover {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._fadeOnSiblingTriggerHover {
	opacity: 0;
	transition: opacity .3s;
	z-index: $zindex-below;
}

.trigger:hover + ._fadeOnSiblingTriggerHover {
	opacity: 1;
	z-index: $zindex-below;
}

// - - - - 

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	font-family: $font-title;
	font-weight: bold;
}

body.home .secondary-nav-item._activeOn { display: block; visibility: visible; }

body.all .secondary-nav-item._activeOn.all, 
body.essays .secondary-nav-item._activeOn.essays, 
body.projects .secondary-nav-item._activeOn.projects, 
body.landscapes .secondary-nav-item._activeOn.landscapes, 
body.backyards .secondary-nav-item._activeOn.backyards {
	visibility: visible;
}

// - - - - 

._showOn {
	display: none;
	@include respond-r2 { 
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .2s;
	}
}

body.essays .entry._showOn.essays,
body.projects .entry._showOn.projects,
body.landscapes .entry._showOn.landscapes,
body.backyards .entry._showOn.backyards,
body.home .entry._showOn,
body.all .entry._showOn { 
	display: block;
	@include respond-r2 { 
		visibility: visible; 
		opacity: 1;
	}
}

body.home ._hideMobileHome {
	display: none;
	@include respond-r3 { display: block; }
}

// - - - - 

._hideOnMobile {
	display: none;
	@include respond-r3 {
		display: block;
	}
}

._invisibleOnMobile {
	visibility: hidden;
	@include respond-r3 {
		visibility: visible;
	}
}

._showOnMobile {
	display: block;
	@include respond-r3 {
		display: none;
	}
}

body:not(.home) ._showOnInterior {
	display: block;
	@include respond-r3 {
		display: block;
	}
}

// browsersync 

#__bs_notify__ { bottom:0 !important; right: 0 !important; border-radius: 0 !important; opacity: .1; top: auto !important; }
