// Rhyme Paysage (for Justin Parscher)
// Dan O. Williams
// Made with Measure
// 2016

@import '_measure-vars.scss';

/*	-----------------------------------------------
	uBand variables	*/


/*	-----------------------------------------------
	uBand (micro bandwidth) Styles
	Critical CSS for inline	*/

@import '_parscher-fonts';

@import '_measure-reset';
@import '_measure-defaults';
@import '_parscher-vars';
@import '_parscher-ani';

@import '_measure-mixins.scss';


// - - - - - - -

a {
	text-decoration: none;
	color: inherit;
}

strong, 
.strong {
	font-family: $font-alt;
	font-size: 95%;
	font-weight: 700;
}

.italic { font-style: italic; }
.normal { font-style: normal; }

.fonts-loaded strong,
.fonts-loaded .strong {
	font-family: $font-title-loaded;
	font-weight: 600;
}

figure img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

mark {
	background-color: transparent;
	color: $color-black;
}

.block { display: block; }

.mt0 { margin-top: 0; }
.mt1 { margin-top: $grid; }
.mt2 { margin-top: $grid * 2; }
.mt3 { margin-top: $grid * 3; }
.mt4 { margin-top: $grid * 4; }
.repeat--mt0 + .repeat--mt0 { margin-top: 0; }
.repeat--mt1 + .repeat--mt1 { margin-top: $grid; }
.repeat--mt2 + .repeat--mt2 { margin-top: $grid * 2; }
.repeat--mt3 + .repeat--mt3 { margin-top: $grid * 3; }
.repeat--mt4 + .repeat--mt4 { margin-top: $grid * 4; }

// stolen from medium.com (sorry.)

$color-text-shadow: white;
._isUnderlined {
	background-image: linear-gradient(to bottom,$color-black 25%,$color-black 25%);
	background-size: 1px 1px;
	background-repeat: repeat-x;
	text-shadow: 0 -1px 0 $color-text-shadow,0 1px 0 $color-text-shadow,-2px -1px 0 $color-text-shadow,2px 1px 0 $color-text-shadow,1px 1px 0 $color-text-shadow,-1px 0 0 $color-text-shadow;
	padding-bottom: 1px;
	font-weight: regular;
	background-position: 0 19px;
	&:hover {
		background-size: 2px 2px;
	}
}

// - - - - - - -

.type--b {
	font-family: $font-body;
	line-height: 1.45;
	@include font-size(1.8);
	@include respond-r2 {
		line-height: 1.6;
	}
}
.fonts-loaded .type--b {
	font-family: $font-body-loaded;
	line-height: 1.4;
}

.type--d-xl {
	font-family: $font-title;
	font-weight: 300;
	@include font-size(2.9);
}
.fonts-loaded .type--d-xl {
	font-family: $font-title-loaded;
	@include font-size(3.2);
}

.type--d-xl-alt {
	@extend .type--d-xl;
	@include respond-r0 {
		font-family: $font-alt;
		@include smallcaps-wide;
		font-weight: 600;
		@include font-size(1.4);
	}
	@include respond-r1 {
		font-weight: 600;
	}	
}
.fonts-loaded .type--d-xl-alt {
	@include respond-r0 {
		font-family: $font-alt-loaded;
		@include font-size(1.8);	
	}
}

.type--d-l {
	font-family: $font-title;
	font-weight: 800;
	@include smallcaps-wide;
	@include font-size(1.6);
	line-height: 1.3;
}
.fonts-loaded .type--d-l {
	font-family: $font-alt-loaded;
	font-weight: 600;
	@include font-size(1.6);
}

.type--d-s {
	font-family: $font-title;
	font-weight: 600;
	@include font-size(1.3);
}
.fonts-loaded .type--d-s {
	font-family: $font-alt-loaded;
}

.type--d-xs {
	font-family: $font-title;
	font-weight: 600;
	@include font-size(1.1);
	@include smallcaps-wide;
}
.fonts-loaded .type--d-xs {
	font-family: $font-alt-loaded;
}

// - - - - - - -

.ui--close {
	position: fixed;
	top: $double;
	right: 10px;
	display: block;
	background: transparent url('/img/ui/ui-close-small.svg') repeat-x right top;
	background-size: auto $ui-close-small;
	width: $ui-close-small;
	height: $ui-close-small;
	text-indent: -10000px;
	overflow: hidden;
	z-index: $zindex-2;
	&:hover {
		background-position: 0;
		@include respond-r2 {
			background-position: 0;
		}
	}
	@include respond-r2 {
		background-image: url('/img/ui/ui-close-large.svg'); 
		background-size: auto $ui-close-large;
		width: $ui-close-large;
		height: $ui-close-large;
		top: $grid * 5;
		right: $grid * 5;
	}
}

// - - - - - - -

body {
	color: $color-black;
	padding: $grid $grid * 3 $grid * 10 $double;
	position: relative;
	z-index: $zindex-0;
	@include respond-r1 { 
		padding-left: $width-margin-desktop;
		padding-right: $width-margin-desktop;
	}
}

body.content { padding-bottom: 0; }

main { position: relative; }

.content-start { position: relative; }


// - - - - - - -

.container,
.inner-bounded,
.outer-bounded,
.max-bounded {
	margin-left: auto;
	margin-right: auto;
}

.unbounded {
	margin-left: -$width-margin-mobile;
	margin-right: -$width-margin-mobile - $grid;
	width: auto;
	@include respond-r1 {
		margin-left: -$width-margin-desktop;
		margin-right: -$width-margin-desktop;
	}
}

.inner-bounded {
	max-width: $width-inner-bounded;
}

.outer-bounded {
	max-width: $width-outer-bounded;
}

.max-bounded {
	max-width: $width-max;
}

@include respond-r3 {
	.hanging,
	div.container.hanging {
	    width: calc(50% - #{$width-outer-calc});
	    position: absolute;
      display: block;
      margin: 1.4em 0 0;
		&.hang-right { 
			right: 0;	
		}
		&.hang-left { 
			left: 0;	
		}
	}
}

// - - - - - - -

.primary-nav {
	font-style: italic;
	margin-top: $grid * 7;
}

.secondary-nav {
	margin: $double 0 $grid * 4;
	position: relative;
	z-index: $zindex-1;
	width: 100%;
	a:hover {
		font-weight: 600;
	}
	@include respond-r3 {
		position: fixed;
		width: 92%;
		width: calc(100% - 80px);
		margin-top: -$grid;
	}
	@include respond-r4 {
		width: $width-max;
	}
}

.primary-nav--item { height: $grid * 4; }
.secondary-nav--item { height: 36px; }

.secondary-nav--item-highlight {
	width: auto;
	position: absolute;
	right: 0;
	top: 13px;
	z-index: $zindex-below;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.entry-list {
	z-index: $zindex-1;
	position: relative;
	margin-top: $grid * 7;
}

.entry-list--date { padding-left: 4px; }

.entry-list--entry a {
	background-color: white;
    padding: 1px 2px 3px 0;
    border-radius: 1px;
}

.entry-list--entry,
.site-index--entry,
.text-index--entry,
.primary-nav--item,
.secondary-nav--item {
	padding-bottom: .5em;
	line-height: 1.35;
	min-height: $grid * 4;
}


// - - - - - - -

.header--title {
	margin: $grid 0 $grid * 6 0 ;
	@include respond-r1 {
		margin: $grid * 4 0 $grid * 8 0;
	}
}

.text--body {
	margin-top: $grid * 6;
	line-height: 1.4;
	counter-reset: note-counter;
	@include respond-r2 { 
		margin-top: 68px; 
		line-height: 1.6;
	}
}

.text--title {
	margin-bottom: 0;
	padding-top: 5px;
	line-height: 1.1;
	@include respond-r2 {
		padding-top: 0;
	}
}

.text--subtitle {
	margin-top: $grid;
	@include block-italic;
}

.text--index-title { margin-top: 2em; }

.text--body-block + .text--body-block { margin-top: 1em; }

.text--body-block h2, 
.text--body-block h3, 
.text--body-block h4, 
.text--body-block p, 
.text--body-block ul, 
.text--body-block ol {
	@extend .inner-bounded;
}

.text--body-block h3 {
	@extend .type--d-l;
	margin-top: $grid * 6;
	margin-bottom: $grid * 3;
}

.text p + p {
	margin-top: .85em;
	@include respond-r2 {
		margin-top: 1.2em;
	}
}

.text-meta { margin-top: $grid * 3; }

.comments { margin-top: $grid * 7; }

// - - - - - - -

.site-index--entry-multiples {
	display: inline;
	padding-left: .5em;
}

.site-index--entry-multiples-entry {
	display: inline;
	padding-right: .25em;
	&:after { content: ','; }
	&:last-child { padding-right: 0; }
	&:last-child::after { content: none; }
}

.text--index { margin-top: $double; }

// - - - - - - -

.row {
	margin: 0 ($width-gutter / -2);
	overflow: auto;
}

.container {
	margin-top: $grid * 6;
	margin-bottom: $grid * 6;
	overflow: hidden;
	&.inner-bounded,
	&.outer-bounded,
	&.max-bounded {
		@include respond-r0 {
			margin-right: -$grid;
		}
	}
}

.container.hanging {
	margin: 1em 0 0;
	& + p,
	& + ul, 
	& + section,
	& + ol { margin-top: 1em; }
}

p + .container.hanging { margin-top: 1.5em; }

// - - - - - - -

.text--figure {
	padding: 0 $width-gutter / 2;
	float: left;
}

.text--figure.hoverable {  position: relative; }

.text--figure-hoverable-display {}
	
.text--figure-hoverable-onHover {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 0 $width-gutter / 2;
}

.text--figure.hoverable:hover {
	.text--figure-hoverable-onHover { display: block; }
}

.single > .text--figure { width: 100%; }
.two-across > .text--figure { width: 50%;  }
.three-across > .text--figure { width: 33.333333%; }
.four-across > .text--figure { width: 25%; } 

.row + .row .text--figure { margin-top: $width-margin-mobile; }

.text--figure-title {
	margin-top: 0;
	margin-bottom: $grid * 3;
}

.text--figure-caption, 
.text--figure-common-caption { 
	clear: both; 
	padding-top: $grid * 2;
	line-height: 1.4;
	padding-bottom: .2em;
}

.text--figure-caption { padding-right: $double; }

.text--figure-common-caption { 
	padding: $grid * 2 $grid * 4 0 ($width-margin-mobile / 2);
	@include respond-r2 {
		padding: $grid * 2 $grid * 4 0 0;
	}
}

mark {
	counter-increment: note-counter;
}

mark:before {
	content: counter(note-counter);
	display: none;
	@extend .type--d-s;
	position: relative;
	bottom: .4em;
    border-bottom: 1px solid;
    margin-right: .3em;
    padding-bottom: 0;
    line-height: 1;
    margin-left: .1em;
    text-align: center;
    width: 1em;
}

.note {
	position: relative;
    bottom: 3px;
    padding-left: $grid;
    padding-right: $grid;
}


@include respond-r3 {
	mark:before {
		display: inline-block;
	}
	
	.note {
		position: absolute;
	    bottom: auto;
	    padding-left: 0;
	    padding-right: 0;
		&.hanging {
			margin-top: -2.05em;
			width: $width-outer-column;
			&:before {
				content: counter(note-counter);
				display: block;
			}
			&.hang-left {
			    left: 0;
				margin-left: calc(50% - #{$width-outer-margin-calc});
			}
			&.hang-right {
			    right: 0;
				margin-right: calc(50% - #{$width-outer-margin-calc});
			}
		}
	}
}

div.comments {
	padding: 0 $double 4px;
	margin: $grid * 7 $grid * -3 0 $grid * -2;
	width: auto;
	background-color: white;
	@include respond-r2 {
		margin: $grid * 8 $grid * -5 0 $grid * -5;
		padding: $grid * 8 $grid * 5 $grid * 8;
	}
}

// - - - - 

.hidden {
	transition: opacity .3s;
	opacity: 0;
	visibility: hidden;	
}

body.home ._revealOnHome {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._revealOnHover:hover {
	.hidden { 
		visibility: visible; 
		opacity: 1;
	}
}

._fadeOnSiblingTriggerHover {
	opacity: 0;
	transition: opacity .3s;
	z-index: $zindex-below;
}

.trigger:hover + ._fadeOnSiblingTriggerHover {
	opacity: 1;
	z-index: $zindex-below;
}

// - - - - 

// rest of these rules calculated in the <head>
body.all .secondary-nav--item._activeOn.all { font-weight: 600; }

body.home .secondary-nav--item._activeOn { 
	display: block; 
	visibility: visible; 
}

// rest of these rules calculated in the <head>
body.all .secondary-nav--item._activeOn.all { visibility: visible; }

// - - - - 

._showOn {
	display: none;
	@include respond-r1 { 
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .2s;
	}
}

// rest of these rules calculated in the <head>
body.home .entry-list--entry._showOn,
body.all .entry-list--entry._showOn { 
	display: block;
	@include respond-r1 { 
		visibility: visible; 
		opacity: 1;
	}
}

body.home ._hideMobileHome {
	display: none;
	@include respond-r2 { display: block; }
}

// - - - - 

._hideOnMobile {
	display: none;
	@include respond-r2 {
		display: block;
	}
}

._invisibleOnMobile {
	visibility: hidden;
	@include respond-r2 {
		visibility: visible;
	}
}

._showOnMobile {
	display: block;
	@include respond-r2 {
		display: none;
	}
}

body:not(.home) ._showOnInterior {
	display: block;
	@include respond-r2 {
		display: block;
	}
}

// browsersync 

#__bs_notify__ { bottom:0 !important; right: 0 !important; border-radius: 0 !important; opacity: .1; top: auto !important; }
