<ul class="entry-list inner-bounded _hideMobileHome">
	{% for entry in craft.entries.section( 'texts' ).order('postDate desc').limit(null) %}
		{% set posted = entry.postDate|date('Y') %}
		{% if entry.dateStarted|length %}
			{% set started = entry.dateStarted|date('Y') %}
			{% if started == posted %}
				{% set displayDate = posted %}
			{% else %}
				{% set displayDate = [started, posted]|filter|join('–') %}
			{% endif %}
		{% else %}
			{% set displayDate = posted %}
		{% endif %}
		<li class="entry-list--entry _showOn{% for category in entry.textCategory %} {{ category.slug }}{% endfor %}"><a href="{{ entry.url }}"><span class="entry-list--title _isUnderlined">{{ entry.title|raw }}</span>&nbsp;<span class="entry-list--date type--d-xs">({{ displayDate }})</span></a></li>
	{% endfor  %}
</ul>
