{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set grid = 8 %}
{% set maxWidth = 1400 %}
{% set marginGlobal = grid * 5 %}
{% set marginGlobalMobile = grid * 2 %}
{% set marginGlobalMobileOuter = marginGlobalMobile * 2 %}
{% set marginGlobalOuter = marginGlobal * 2 %}
{% set gutterWidth = grid * 2 %}
{% set innerWidth = grid * 60 %}
{% set halfInnerWidth = innerWidth / 2 %}
{% set hangWidth = grid * 22 %}
{% set hangWidthTotal = hangWidth + marginGlobal %}
{% set outerWidth = innerWidth + (2 * hangWidthTotal) %}
{% set maxWidth = grid * 175 %}

{% set hangFull = marginGlobal - ( innerWidth / 2 ) %}
{% set hangFullSize = '50vw - #{hangFull}px' %}


{% set breakMob = innerWidth - marginGlobalOuter %}
{% set breakInner = innerWidth + marginGlobalOuter %}
{% set breakOuter = outerWidth + marginGlobalOuter %}
{% set breakMax = outerWidth + marginGlobalOuter %}



{% set respond_r1 = 0 %}
{% set respond_r2 = breakMob %}
{% set respond_r3 = breakInner %}
{% set respond_r4 = breakOuter %}
{% set respond_r5 = breakMax %}

<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--#else -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" >
<!--#endif -->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>{% if title is defined %}{{ title }} / {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<style>{{ source('css/uband.css') }}</style>
		{#<link rel="stylesheet" href="/css/uband.css"/>#}
	</head>
	
	<body class="{{ bodyClass }}">
		<div id="container">
			{% cache %}
			<header id="header" class="inner-bounded">
				<h1><a href="{{ siteUrl }}" class="">{{ siteName }}</a></h1>
			</header>
			{% endcache %}
			{% block content %}
			{% endblock %}
		</div>{# /#container #}
	</body>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="/js/rp-app.js"></script>
</html>
