{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set width_grid = 8 %}
{% set width_max = 1400 %}
{% set width_marginMobile = width_grid * 2 %}
{% set width_marginDesktop = width_grid * 5 %}
{% set width_outerColumn = width_grid * 22 %}
{% set width_innerBounded = width_grid * 60 %}
{% set width_outerBounded = width_innerBounded + (2 * (width_outerColumn + width_marginDesktop)) %}

{% set respond_r1 = 0 %}
{% set respond_r2 = 0 %}
{% set respond_r3 = 560 %}
{% set respond_r4 = 984 %}
{% set respond_r5 = width_max + (width_marginDesktop * 2) %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{% if title is defined %}{{ title }} / {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<style>{{ source('css/uband.css') }}</style>
		<link rel="stylesheet" href="/css/uband.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>
	
	<body class="{{ bodyClass }}">
		<div id="container">
			<header id="header" class="inner-bounded">
				<h1><a href="{{ siteUrl }}" class="">{{ siteName }}</a></h1>
			</header>
			{% block content %}
			{% endblock %}
		</div>{# /#container #}
	</body>
</html>
