{% set about = craft.entries.section('about').first() %}
{% set readersIndex = craft.entries.section('readersIndex').first() %}

<nav class="primary bottom inner-bounded">
	<ul class="primary-nav-list">
		{% switch bodyClass %}
			{% case "content" %}
				<li class="primary-nav-item"><a href="{{ siteUrl }}">Contents</a></li>
				<li class="primary-nav-item"><a href="{{ about.url }}">About</a></li>
				<li class="primary-nav-item"><a href="{{ readersIndex.url }}">Index</a></li>
			{% case "site-index" %}
				<li class="primary-nav-item"><a href="{{ siteUrl }}">Contents</a></li>
				<li class="primary-nav-item"><a href="{{ about.url }}">About</a></li>
			{% default %}
				<li class="primary-nav-item"><a href="{{ about.url }}">About</a></li>
				<li class="primary-nav-item"><a href="{{ readersIndex.url }}">Index</a></li>
		{% endswitch %} 
	</ul>
</nav>
