{% cache globally %}
<nav class="secondary-nav" id="nav-secondary">
	<ul class="secondary-nav--list">
		{% for category in craft.categories %}
			<li class="secondary-nav--item type--d-xl  _activeOn {{ category.slug }}">
				<a href="{{ category.url }}" class="trigger" id="{{ category.slug }}">{{ category.title|title }}</a>
				{% if not craft.request.isMobileBrowser %}
					{% if category.primaryImage|length %}
						{% set thisAsset = category.primaryImage.first() %}
						{% if thisAsset.kind == 'video' %}
							<video class="secondary-nav--item-highlight _fadeOnSiblingTriggerHover" autoplay loop>
								<source src="{{ thisAsset.url }}" type="{{ thisAsset.mimeType }}" />
							</video>
						{% else %}
							<figure class="secondary-nav--item-highlight _fadeOnSiblingTriggerHover">
								<source src="{{ thisAsset.url }}" type="{{ thisAsset.mimeType }}" />
							</figure>
						{% endif %}
					{% endif %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>
{% endcache %}