{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set bodyClass = "content" %}

{% block content %}
	{% include "_nav-binary-home" %}
	<div class="content-start">
		<main id="content" role="main">
			<div class="body">
				<h2 class="text-title">About</h2>
				<div class="body-main">
					<p><strong>Abbott Handerson Thayer</strong> (August 12, 1849 – May 29, 1921) was an American artist, naturalist and teacher. As a painter of portraits, figures, animals and landscapes, he enjoyed a certain prominence during his lifetime, and his paintings are represented in the major American art collections. He is perhaps best known for his ‘angel’ paintings, some of which use his children as models.</p>
					<p>During the last third of his life, he worked together with his son, Gerald Handerson Thayer, on a major book about protective coloration in nature, titled Concealing-Coloration in the Animal Kingdom. First published by Macmillan in 1909, then reissued in 1918, it may have had an effect on military camouflage during World War I. However it was roundly mocked by Theodore Roosevelt and others for its biased assumption that all animal coloration is cryptic.</p>
					<p>Thayer also influenced American art through his efforts as a teacher, training apprentices in his New Hampshire studio.</p>
					<h3>Camouflage contributions</h3>
					<p>Thayer is sometimes referred to as the "father of camouflage". While he did not invent camouflage, he was one of the first to write about disruptive patterning to break up an object's outlines, about masquerade, as when a butterfly mimics a leaf (though here he was anticipated by Bates, Wallace, and Poulton), and especially about countershading.</p>
					<p>Beginning in 1892, he wrote about the function of countershading in nature, by which forms appear less round and less solid through inverted shading, by which he accounted for the white undersides of animals. This finding is still accepted widely, and is sometimes now called Thayer’s Law. However, he became obsessed with the idea that all animals are camouflaged, spoiling his case by arguing that conspicuous birds like peacocks and flamingoes were in fact cryptically colored. He was vigorously attacked for this in a long paper by Theodore Roosevelt.</p>
					<div class="container outer-bounded">
						<div class="row single">
							<figure>
								<img
									sizes="	(min-width: {{ respond_r3 }}px) {{ width_innerBounded }}px, 100vw - {{ width_marginMobile }}px"
									srcset="	/img/thayer-2100w.jpg 2100w,
									        	/img/thayer-1500w.jpg 1500w,
									        	/img/thayer-800w.jpg 800w,
												/img/thayer-400w.jpg 400w"
									src="		/img/thayer-400w.jpg"
									alt="…">
								<figcaption>Thayer straining the theory to a fantastic extreme. <i>White Flamingoes, Red Flamingoes and The Skies They Simulate (dawn or dusk)</i>.</figcaption>
							</figure>
						</div>
					</div>
					<p>Thayer first became involved in military camouflage in 1898, during the Spanish–American War, when he and his friend George de Forest Brush proposed the use of protective coloration on American ships, using countershading.The two artists did obtain a patent for their idea in 1902, titled “Process of Treating the Outsides of Ships, etc., for Making Them Less Visible,” in which their method is described as having been modeled on the coloration of a seagull.</p>
					<p>Thayer and Brush’s experiments with camouflage continued into World War I, both collaboratively and separately. Early during that war, for example, Brush developed a transparent airplane, while Thayer continued his interest in disruptive or high-difference camouflage, which was not unlike what British ship camouflage designer Norman Wilkinson would call dazzle camouflage (a term that may have been inspired by Thayer's writings, which referred to disruptive patterns in nature as "razzle dazzle".)</p>
					<p>Gradually, Thayer and Brush entrusted their camouflage work to the responsibility of their sons. Concealing-Coloration in the Animal Kingdom (1909), which had taken seven years to prepare, was credited to Thayer's son, Gerald. At about the same time, Thayer once again proposed ship camouflage to the U.S. Navy (and was again unsuccessful), this time working not with Brush, but with Brush’s son, Gerome (named in honor of his father’s teacher).</p>
					<p>In 1915, during World War I, Thayer made proposals to the British War Office, trying unsuccessfully to persuade them to adopt a disruptively patterned battledress, in place of monochrome khaki, though he was too anxious to attend the meeting in person. Meanwhile, Thayer and Gerome Brush’s proposal for the use of countershading in ship camouflage was approved for use on American ships, and a handful of Thayer enthusiasts (among them Barry Faulkner) recruited hundreds of artists to join the American Camouflage Corps.</p>
				</div>
			</div>
		</main>
		{% include "_content-foot" %}
	</div>{# /.content-start #}
{% endblock %}
