{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set bodyClass = "site-index" %}

{% block content %}
	{% include "_nav-binary-home" %}
	<div class="content-start">
		<main id="content" role="main">
			<div class="body">
				<h2 class="text-title">Index</h2>
				<div class="body-main">
					<ul class="site-index">
						<li class="index-entry"><a class="#">aerodynamic impulse</a></li>
						<li class="index-entry"><a class="#">aerologic flow</a></li>
						<li class="index-entry"><a class="#">Alamo, the</a></li>
						<li class="index-entry"><a class="#">alternativeness</a></li>
						<li class="index-entry"><a class="#">alveolus</a></li>
						<li class="index-entry"><a class="#">anachronistic redoubt</a></li>
						<li class="index-entry"><strong>andamanese windows</strong>
							<ul class="index-multiples">
								<li class="index-multiple-entry"><a href="#">1</a></li>
								<li class="index-multiple-entry"><a href="#">2</a></li>
								<li class="index-multiple-entry"><a href="#">3</a></li>
								<li class="index-multiple-entry"><a href="#">4</a></li>
							</ul>
						</li>
						<li class="index-entry"><a class="#">anglicisation</a></li>
						<li class="index-entry"><a class="#">aniconic method</a></li>
						<li class="index-entry"><strong>appreciation</strong>
							<ul class="index-multiples">
								<li class="index-multiple-entry"><a href="#">1</a></li>
								<li class="index-multiple-entry"><a href="#">2</a></li>
							</ul>
						</li>
						<li class="index-entry"><a class="#">archicarp, English</a></li>
						<li class="index-entry"><a class="#">archicarp, American</a></li>
						<li class="index-entry"><a class="#">Aristocrats, The</a></li>
						<li class="index-entry"><a class="#">arterial leading</a></li>
						<li class="index-entry"><a class="#">autochthony (αὐτόχθων)</a></li>
						<li class="index-entry"><a class="#"><i>avallonaise</i> style</a></li>
						<li class="index-entry"><a class="#">baboons</a></li>
						<li class="index-entry"><a class="#"><i>Basics of Brickwork, The</i></a></li>
						<li class="index-entry"><a class="#">batteries</a></li>
						<li class="index-entry"><a class="#">beatify</a></li>
						<li class="index-entry"><strong>bicicles</strong>
							<ul class="index-multiples">
								<li class="index-multiple-entry"><a href="#">1</a></li>
								<li class="index-multiple-entry"><a href="#">2</a></li>
								<li class="index-multiple-entry"><a href="#">3</a></li>
								<li class="index-multiple-entry"><a href="#">4</a></li>
								<li class="index-multiple-entry"><a href="#">5</a></li>
							</ul>
						</li>
						<li class="index-entry"><a class="#">birdcall</a></li>
						<li class="index-entry"><a class="#">blabbing</a></li>
						<li class="index-entry"><a class="#">Boswell, James</a></li>
						<li class="index-entry"><a class="#">bothwell</a></li>
						<li class="index-entry"><a class="#">bullterrier</a></li>
						<li class="index-entry"><a class="#">burgundy</a></li>
						<li class="index-entry"><a class="#">carpetbagged</a></li>
						<li class="index-entry"><a class="#">chlorinity</a></li>
						<li class="index-entry"><a class="#">colitic</a></li>
						<li class="index-entry"><a class="#">confederalist</a></li>
						<li class="index-entry"><a class="#">confirmand</a></li>
						<li class="index-entry"><a class="#">convertible</a></li>
						<li class="index-entry"><a class="#">dana</a></li>
						<li class="index-entry"><a class="#">delated	</a></li>
						<li class="index-entry"><a class="#">deleterious</a></li>
						<li class="index-entry"><a class="#">denasalize</a></li>
						<li class="index-entry"><a class="#">dereliction</a></li>
						<li class="index-entry"><a class="#">derwent</a></li>
						<li class="index-entry"><a class="#">deviationism</a></li>
						<li class="index-entry"><a class="#">devocalising</a></li>
						<li class="index-entry"><a class="#">dichrooscope</a></li>
						<li class="index-entry"><a class="#">dosemeter</a></li>
						<li class="index-entry"><a class="#">duiker</a></li>
						<li class="index-entry"><a class="#">earwigged</a></li>
						<li class="index-entry"><a class="#">ectad</a></li>
						<li class="index-entry"><a class="#">effacer</a></li>
						<li class="index-entry"><a class="#">efrem</a></li>
						<li class="index-entry"><a class="#">ellamay</a></li>
						<li class="index-entry"><a class="#">emmie</a></li>
						<li class="index-entry"><a class="#">emulsification</a></li>
						<li class="index-entry"><a class="#">eruptional</a></li>
						<li class="index-entry"><a class="#">essentialize</a></li>
						<li class="index-entry"><a class="#">extracellularly</a></li>
						<li class="index-entry"><a class="#">flanagan</a></li>
						<li class="index-entry"><a class="#">foresaid</a></li>
						<li class="index-entry"><a class="#">foreshown</a></li>
						<li class="index-entry"><a class="#">formulation</a></li>
						<li class="index-entry"><a class="#">frenzily</a></li>
						<li class="index-entry"><a class="#">gabbiest</a></li>
						<li class="index-entry"><a class="#">garble</a></li>
						<li class="index-entry"><a class="#">gauderies</a></li>
						<li class="index-entry"><a class="#">geikie</a></li>
						<li class="index-entry"><a class="#">gill</a></li>
						<li class="index-entry"><a class="#">ginevra</a></li>
						<li class="index-entry"><a class="#">gormless</a></li>
						<li class="index-entry"><a class="#">habsburg</a></li>
						<li class="index-entry"><a class="#">haeckel</a></li>
						<li class="index-entry"><a class="#">haranguing</a></li>
						<li class="index-entry"><a class="#">heiligenscheine</a></li>
						<li class="index-entry"><a class="#">herndon</a></li>
						<li class="index-entry"><a class="#">hersey</a></li>
						<li class="index-entry"><a class="#">humism</a></li>
						<li class="index-entry"><a class="#">hymn</a></li>
						<li class="index-entry"><a class="#">hypermetamorphosis</a></li>
						<li class="index-entry"><a class="#">hypnosis</a></li>
						<li class="index-entry"><a class="#">illuvial</a></li>
						<li class="index-entry"><a class="#">immolate</a></li>
						<li class="index-entry"><a class="#">incombustibleness</a></li>
						<li class="index-entry"><a class="#">insincere</a></li>
						<li class="index-entry"><a class="#">interstratification</a></li>
						<li class="index-entry"><a class="#">isogamete</a></li>
						<li class="index-entry"><a class="#">java</a></li>
						<li class="index-entry"><a class="#">kanga</a></li>
						<li class="index-entry"><a class="#">larry</a></li>
						<li class="index-entry"><a class="#">leopoldville</a></li>
						<li class="index-entry"><a class="#">leptospirosis</a></li>
						<li class="index-entry"><a class="#">liquidus</a></li>
						<li class="index-entry"><a class="#">lunacy</a></li>
						<li class="index-entry"><a class="#">mela</a></li>
						<li class="index-entry"><a class="#">midband</a></li>
						<li class="index-entry"><a class="#">misperceived</a></li>
						<li class="index-entry"><a class="#">molecular</a></li>
						<li class="index-entry"><a class="#">nephrectomized</a></li>
						<li class="index-entry"><a class="#">nonjudicative</a></li>
						<li class="index-entry"><a class="#">normanizer</a></li>
						<li class="index-entry"><a class="#">nylghau</a></li>
						<li class="index-entry"><a class="#">oast</a></li>
						<li class="index-entry"><a class="#">obliger</a></li>
						<li class="index-entry"><a class="#">overapprehensive</a></li>
						<li class="index-entry"><a class="#">overattenuate</a></li>
						<li class="index-entry"><a class="#">overforward</a></li>
						<li class="index-entry"><a class="#">palmiste</a></li>
						<li class="index-entry"><a class="#">panleucopenia</a></li>
						<li class="index-entry"><a class="#">pappenheimer</a></li>
						<li class="index-entry"><a class="#">paragenesia</a></li>
						<li class="index-entry"><a class="#">parallelization</a></li>
						<li class="index-entry"><a class="#">pedantry</a></li>
						<li class="index-entry"><a class="#">peg</a></li>
						<li class="index-entry"><a class="#">pentamery</a></li>
						<li class="index-entry"><a class="#">periproctous</a></li>
						<li class="index-entry"><a class="#">peripteroi</a></li>
						<li class="index-entry"><a class="#">plasmapheresis</a></li>
						<li class="index-entry"><a class="#">polydipsia</a></li>
						<li class="index-entry"><a class="#">preaffiliation</a></li>
						<li class="index-entry"><a class="#">preclothed</a></li>
						<li class="index-entry"><a class="#">preempt</a></li>
						<li class="index-entry"><a class="#">presolicitation</a></li>
						<li class="index-entry"><a class="#">proa</a></li>
						<li class="index-entry"><a class="#">pseudocarpous</a></li>
						<li class="index-entry"><a class="#">purgation</a></li>
						<li class="index-entry"><a class="#">pushpin</a></li>
						<li class="index-entry"><a class="#">redebated</a></li>
						<li class="index-entry"><a class="#">redressable</a></li>
						<li class="index-entry"><a class="#">rejoiced</a></li>
						<li class="index-entry"><a class="#">remagnetization</a></li>
						<li class="index-entry"><a class="#">restipulating</a></li>
						<li class="index-entry"><a class="#">resuscitation</a></li>
						<li class="index-entry"><a class="#">salamanderlike</a></li>
						<li class="index-entry"><a class="#">same</a></li>
						<li class="index-entry"><a class="#">sauerkraut</a></li>
						<li class="index-entry"><a class="#">serve</a></li>
						<li class="index-entry"><a class="#">shazar</a></li>
						<li class="index-entry"><a class="#">sibilantly</a></li>
						<li class="index-entry"><a class="#">siobhan</a></li>
						<li class="index-entry"><a class="#">slap</a></li>
						<li class="index-entry"><a class="#">socotra</a></li>
						<li class="index-entry"><a class="#">stageable</a></li>
						<li class="index-entry"><a class="#">stintless</a></li>
						<li class="index-entry"><a class="#">subunequal</a></li>
						<li class="index-entry"><a class="#">supergravitate</a></li>
						<li class="index-entry"><a class="#">terminism</a></li>
						<li class="index-entry"><a class="#">thiasus</a></li>
						<li class="index-entry"><a class="#">titan</a></li>
						<li class="index-entry"><a class="#">uglily</a></li>
						<li class="index-entry"><a class="#">ultraviolet</a></li>
						<li class="index-entry"><a class="#">ungushing</a></li>
						<li class="index-entry"><a class="#">unpostmarked</a></li>
						<li class="index-entry"><a class="#">unsuppressive</a></li>
						<li class="index-entry"><a class="#">versine</a></li>
						<li class="index-entry"><a class="#">violative</a></li>
						<li class="index-entry"><a class="#">“vivaciousness of the praetorian”</a></li>
						<li class="index-entry"><strong>war</strong>
							<ul class="index-multiples">
								<li class="index-multiple-entry"><a href="#">1</a></li>
								<li class="index-multiple-entry"><a href="#">2</a></li>
								<li class="index-multiple-entry"><a href="#">3</a></li>
							</ul>
						</li>
						<li class="index-entry"><strong>weeds</strong>
							<ul class="index-multiples">
								<li class="index-multiple-entry"><a href="#">1</a></li>
								<li class="index-multiple-entry"><a href="#">2</a></li>
								<li class="index-multiple-entry"><a href="#">3</a></li>
								<li class="index-multiple-entry"><a href="#">4</a></li>
								<li class="index-multiple-entry"><a href="#">5</a></li>
								<li class="index-multiple-entry"><a href="#">6</a></li>
								<li class="index-multiple-entry"><a href="#">7</a></li>
								<li class="index-multiple-entry"><a href="#">8</a></li>
								<li class="index-multiple-entry"><a href="#">9</a></li>
								<li class="index-multiple-entry"><a href="#">10</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</main>
		{% include "_content-foot" %}
	</div>{# /.content-start #}
{% endblock %}
