{#
 # Text template
 # ---------------
 #}

{% set posted = entry.postDate|date('F Y') %}
{% if entry.dateStarted|length %}
	{% set started = entry.dateStarted|date('F Y') %}
	{% if started == posted %}
		{% set displayDate = posted %}
	{% else %}
		{% set displayDate = [started, posted]|filter|join('–') %}
	{% endif %}
{% else %}
	{% set displayDate = posted %}
{% endif %}

{% extends "_layout" %}
{% set bodyClass = "content" %}
{% import '_macros' as siteMacros %}

{% block content %}
	{% include "_nav-binary-home" %}
	<div class="content-start">
		<main id="content" role="main">
			<div class="text">
				<h2 class="text--title type--d-xl inner-bounded">{{ entry.title|raw }}</h2>
				{% if entry.textSubtitle | length %} <p class="text--subtitle type--b inner-bounded">{{ entry.textSubtitle|raw }}</h2>{% endif %}
				
				<div class="text--body">
					{% for block in entry.textBuilder %}
						{% switch block.type %}
						    {% case "blockSection" %}
						    	<section class="text--body-block">
							        {{ siteMacros.cleanup(block.bodyText) }}
						    	</section>
						    {% case "blockFigures" %}
								{% include "_figure" %}
						    {% default %}
						        <p>A font walks into a bar.</p>
						        <p>The bartender says, “Hey, we don’t serve your type in here!”</p>
						{% endswitch %}
					{% endfor %}
				</div> {# .text--body #}
			</div> {# .body #}
			<div class="text-meta inner-bounded">
				<p class="text-meta--date type--d-s">({{ displayDate }})</p>
			</div>
		</main>
		{% include "_content-foot" %}
	</div>{# .content-start #}
	{% cache globally %}{% include "_pswipe-ui" %}{% endcache %}
{% endblock %}
